@model PreOddsApi.WebUI.Models.Tip.Models.TipsBaseViewModel
@using PreOddsApi.WebUI.Helper;
@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Home Page";
}

@* <section class="section section-sm bg-gray-100" style="padding:0px 0px 10px 0px;">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-12">
                <ul class="isotope-filters-list" id="isotope-filters">
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/600" target="_blank"><img src="~/images/leagues/600.png" alt="Super Lig" width="64" height="64"></a></li>
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/8" target="_blank"><img src="~/images/leagues/8.png" alt="Premier League" width="64" height="64"></a></li>
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/564" target="_blank"><img src="~/images/leagues/564.png" alt="La Liga" width="64" height="64"></a></li>
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/384" target="_blank"><img src="~/images/leagues/384.png" alt="Serie A" width="64" height="64"></a></li>
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/82" target="_blank"><img src="~/images/leagues/82.png" alt="Bundesliga" width="64" height="64"></a></li>
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/72" target="_blank"><img src="~/images/leagues/72.png" alt="Eredivisie" width="64" height="64"></a></li>
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/301" target="_blank"><img src="~/images/leagues/301.png" alt="Ligue 1" width="64" height="64"></a></li>
                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" href="/leagueDetail/462" target="_blank"><img src="~/images/leagues/462.png" alt="Primeira Liga" width="64" height="64"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section> *@
@* <section class="section section-sm bg-gray-100" style="padding:0px 0px 10px 0px;">
    <div class="container">
        <div style="text-align:center; margin-bottom:10px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
</section> *@
<section class="section section-sm bg-gray-100">
    <div class="container">
        <div class="col-lg-12">
            <div class="row row-30">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        @if (Model != null && Model.FixtureOfDay != null && Model.FixtureOfDay.Count > 0)
                        {
                        @foreach (var fixture in Model.FixtureOfDay)
                            {
                        <div class="swiper-slide" data-swiper-autoplay="5000" style="white-space:unset;">
                            <div class="col-md-6 col-lg-12">
                                <article class="post-badly">
                                    <div class="post-badly-image">

                                        <article class="game-result game-result-classic">
                                            <div class="game-result-footer" style="border-bottom:1px solid #e1e1e1">
                                                <ul class="game-result" style="text-align:left;padding:5px 5px 5px 5px; border:none;">
                                                    <li>
                                                        <div class="row sport-row align-items-center">
                                                            <div class="col-xs-9 col-sm-9 col-md-4 col-lg-3">
                                                                <figure>  <a href="/leagueDetail/@fixture.League.Id" target="_blank"> <img src="@fixture.League.Logo" alt=""></a></figure>

                                                            </div>
                                                            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-9" style="text-align:left;padding-left: 0px;">
                                                                <a href="/leagueDetail/@fixture.League.Id" target="_blank">
                                                                    <span class="blink font-weight-regular" style="font-size:1.20em; color:#373737;">@fixture.League.Name</span>
                                                                </a>

                                                                <figure><img src="@fixture.Country.Logo" alt="" width="16" height="16"><span class="blink font-weight-regular" style="font-size:0.80em;"> @fixture.Country.Name </span></figure>

                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div class="game-result-main" style="padding:15px 10px 15px 10px;">
                                                <div class="game-result-team game-result-team-first">
                                                    <figure class="game-result-team-figure game-result-team-figure-big">
                                                        <img src="@fixture.LocalTeam.LogoPath" alt="" width="56" height="52">
                                                    </figure>
                                                </div>

                                                <a href="/fixtureDetail/@fixture.Id" onclick="window.open(this.href,'_blank');return false;" target="_blank">
                                                    <div class="game-result-middle" style="margin:0px 0px 10px 0px;">
                                                        @if (fixture.TimeStatus == "NS")
                                                                {
                                                                <div class="game-results-status" style="padding-top:10px;">
                                                                    <p class="game-info-subtitle">
                                                                        <time class="time-big" datetime="2018-04-17">
                                                                            <span class="heading-5">@fixture.TimeStartingAtDateTime.Substring(11, 5)</span>
                                                                        </time>
                                                                    </p>
                                                                </div>
                                                                <div class="game-result-divider-wrap" style="padding-top:10px;"><span class="game-info-team-divider">VS</span></div>
                                                                }
                                                                else
                                                                {
                                                                <div class="game-results-status" style="padding-top:10px;">
                                                                    <p class="game-info-subtitle">
                                                                        @fixture.Status
                                                                    </p>
                                                                </div>
                                                                <div class="game-result-score-wrap">
                                                                    <div class="game-result-score game-result-team-win">@fixture.LocalTeamScore</div>
                                                                    <div class="game-result-score-divider">
                                                                        <svg x="0px" y="0px" width="7px" height="21px" viewBox="0 0 7 21" enable-background="new 0 0 7 21" xml:space="preserve"><g><circle cx="3.5" cy="3.5" r="3"></circle><path d="M3.5,1C4.879,1,6,2.122,6,3.5S4.879,6,3.5,6S1,4.878,1,3.5S2.122,1,3.5,1 M3.5,0C1.567,0,0,1.567,0,3.5S1.567,7,3.5,7      S7,5.433,7,3.5S5.433,0,3.5,0L3.5,0z"></path></g><g><circle cx="3.695" cy="17.5" r="3"></circle><path d="M3.695,15c1.378,0,2.5,1.122,2.5,2.5S5.073,20,3.695,20s-2.5-1.122-2.5-2.5S2.316,15,3.695,15 M3.695,14      c-1.933,0-3.5,1.567-3.5,3.5s1.567,3.5,3.5,3.5s3.5-1.567,3.5-3.5S5.628,14,3.695,14L3.695,14z"></path></g></svg>
                                                                    </div>
                                                                    <div class="game-result-score">@fixture.VisitorTeamScore</div>
                                                                </div>
                                                                }
                                                    </div>
                                                </a>
                                                <div class="game-result-team game-result-team-second">
                                                    <figure class="game-result-team-figure game-result-team-figure-big">
                                                        <img src="@fixture.VisitorTeam.LogoPath" alt="" width="55" height="55">
                                                    </figure>
                                                </div>
                                            </div>

                                            <div class="game-result-main" style="padding-top:0px;">
                                                <div class="game-result-team game-result-team-first" style="max-width:100px;">
                                                    <div class="game-result-team-name">
                                                        @fixture.LocalTeam.Name
                                                    </div>
                                                    @if (string.IsNullOrEmpty(@fixture.LocalTeam.ShortCode))
                                                            {
                                                            <div class="game-result-team-country">&nbsp;</div>
                                                            }
                                                            else
                                                            {
                                                            <div class="game-result-team-country">@fixture.LocalTeam.ShortCode</div>
                                                            }
                                                </div>
                                                <div class="game-result-team game-result-team-second" style="max-width:100px;">
                                                    <div class="game-result-team-name">
                                                        @fixture.VisitorTeam.Name
                                                    </div>
                                                    @if (string.IsNullOrEmpty(@fixture.VisitorTeam.ShortCode))
                                                            {
                                                            <div class="game-result-team-country">&nbsp;</div>
                                                            }
                                                            else
                                                            {
                                                            <div class="game-result-team-country">@fixture.VisitorTeam.ShortCode</div>
                                                            }
                                                </div>
                                            </div>

                                        </article>

                                    </div>
                                    <div class="post-badly-body">

                                        <ul class="post-badly-wager">
                                            @foreach (var odd in fixture.Odds)
                                                    {
                                                    <li class="post-badly-wager-item">
                                                        <a class="post-badly-wager-link" href="#">
                                                            <span class="post-badly-wager-score"></span>
                                                            <span class="post-badly-wager-count" style="font-size: 0.95em;font-weight: 400;">@odd.OddValue</span>
                                                        </a>
                                                    </li>
                                                    }
                                        </ul>

                                    </div>
                                </article>
                            </div>
                        </div>
                            }
                        }
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>

            </div>

            <div class="row row-50">
                <div class="col-lg-8">

                    <!-- Isotope Filters-->
                    @*<div class="col-lg-12">
                            <div class="isotope-filters isotope-filters-horizontal">
                                <button class="isotope-filters-toggle button" data-custom-toggle="#isotope-filters" data-custom-toggle-hide-on-blur="true" data-custom-toggle-disable-on-blur="true">Select<span class="caret"></span></button>
                                <ul class="isotope-filters-list" id="isotope-filters">
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link active" data-isotope-filter="*" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-01"></span></span><span class="isotope-filters-list-text">All sports</span> <span class="isotope-filters-list-count">29</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="football" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-07"></span></span><span class="isotope-filters-list-text">Football</span> <span class="isotope-filters-list-count">6</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="tennis" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-06"></span></span><span class="isotope-filters-list-text">Tennis</span> <span class="isotope-filters-list-count">4</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="basketball" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-04"></span></span><span class="isotope-filters-list-text">Basketball</span> <span class="isotope-filters-list-count">4</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="ice-hockey" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-08"></span></span><span class="isotope-filters-list-text">Ice Hockey</span> <span class="isotope-filters-list-count">3</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="volleyball" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-09"></span></span><span class="isotope-filters-list-text">Volleyball</span> <span class="isotope-filters-list-count">3</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="badminton" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-03"></span></span><span class="isotope-filters-list-text">Badminton</span> <span class="isotope-filters-list-count">4</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="baseball" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-05"></span></span><span class="isotope-filters-list-text">Baseball</span> <span class="isotope-filters-list-count">2</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="ping-pong" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-02"></span></span><span class="isotope-filters-list-text">Table Tennis</span> <span class="isotope-filters-list-count">2</span></a></li>
                                    <li class="isotope-filters-list-item"><a class="isotope-filters-list-link" data-isotope-filter="cycling" data-isotope-group="gallery" href="#"><span class="isotope-filters-list-img"><span class="sprite sprite-sport-icon-10"></span></span><span class="isotope-filters-list-text">Cycling</span> <span class="isotope-filters-list-count">2</span></a></li>
                                </ul>
                                <div class="isotope-filters-info">
                                    <p class="isotope-filters-info-text"> All Sports (29)</p>
                                </div>
                            </div>
                        </div>*@

                    <!-- Isotope Content-->
                    <div class="col-lg-12">
                        <article class="heading-component">
                            <div class="heading-component-inner">
                                <h5 class="heading-component-title">
                                    @SharedLocalizer.GetString("Football")
                                </h5>
                                <div>
                                    <ul class="list-inline list-inline-xs">
                                        <li><input type="text" id="fixtureDate" readonly class="form-input" style="min-height:auto; padding:0px 5px;" /></li>
                                        <li><button class="button button-xs button-primary-outline" id="live" onclick="renderLive()">@SharedLocalizer.GetString("Live")</button></li>
                                        <li><button class="button button-xs button-gray-outline" id="live" onclick="CollapseAllLeagues()">@SharedLocalizer.GetString("CollapseAll")</button></li>
                                        @*
                                            <li><button class="button button-xs button-red-outline" id="date" onclick="renderDateList()">@SharedLocalizer.GetString("Date")</button></li>*@
                                        @*
                                            <li><button class="button button-xs button-red-outline active" id="league" onclick="renderLeagueList()">@SharedLocalizer.GetString("League")</button></li>*@
                                    </ul>
                                </div>
                            </div>
                        </article>
                        <div class="text-center" id="divLoading" style="display: none; padding-top:25px;">
                            <img src="/images/loading.gif" alt="loading" style="width: 25px;" />
                            <p class="game-info-subtitle" style="font-size:1.2em;">
                                @SharedLocalizer.GetString("LoadingMatches")
                            </p>
                        </div>
                        <div class="row isotope row-15" style="display:none;" data-isotope-layout="fitRows" data-isotope-group="gallery" id="divFavoriFixtureHeader">
                            <div class="col-lg-12 isotope-item" data-filter="football">
                                <!-- Heading Component-->
                                <div class="sport-table-header" style="background-color:#f3c73b;">
                                    <p style="margin-bottom:0px;"> @SharedLocalizer.GetString("FavoriteMatches")</p>
                                </div>
                                <div class="sport-table" id="divFavoriFixture">
                                </div>
                            </div>
                        </div>
                        <div class="row isotope row-15" style="" data-isotope-layout="fitRows" data-isotope-group="gallery" id="divFixtureOfLeague">
                            <!-- Football-->

                        </div>
                        <div class="row isotope row-15" style="" data-isotope-layout="fitRows" data-isotope-group="gallery" id="divFixtureOfDate">
                            <!-- Football-->

                        </div>
                        <div class="row isotope row-15" style="display:none;" data-isotope-layout="fitRows" data-isotope-group="gallery" id="divFixtureOfLive">
                            <!-- Football-->

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row row-50">
                        <div class="col-md-6 col-lg-12">
                            <div class="block-aside-item">
                                <!-- Heading Component-->
                                <article class="heading-component">
                                    <div class="heading-component-inner">
                                        <h5 class="heading-component-title">
                                            @SharedLocalizer.GetString("CountryList")
                                        </h5>
                                        <span class="button button-xs button-gray-outline" onclick="ClearSelectedCountries()">@SharedLocalizer.GetString("Clear")</span>
                                    </div>
                                </article>
                                <ul id="selectCountry" class="list-xs form-wrap"></ul>
                                <!--Block Categories-->
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12">
                            <div style="text-align:center; margin-bottom:10px;">
                                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                                <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
                                <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                            </div>
                        </div>
                        @if (Model != null && Model.Tips != null && Model.Tips.Count > 0)
                        {
                            <div class="col-md-6 col-lg-12">
                                <!-- Heading Component-->
                                <article class="heading-component">
                                    <div class="heading-component-inner">
                                        <h5 class="heading-component-title">
                                            @SharedLocalizer.GetString("TipsHeader")
                                        </h5>
                                        <a class="button button-xs button-gray-outline" href="/tips">@SharedLocalizer.GetString("AllTips")</a>
                                    </div>
                                </article>

                                <!-- Game Result Classic-->
                                @foreach (var tip in Model.Tips)
                                {
                                    <article class="game-result game-result-classic">
                                        <div class="game-result-footer" style="border-bottom:1px solid #e1e1e1">
                                            <ul class="game-result-details" style="text-align:left; padding: 5px 5px 5px 5px">
                                                <li><img src="@tip.CountryLogo" alt="" width="36" height="36"> @tip.CountryName.ToUpper() - @tip.LeagueName.ToUpper() </li>
                                            </ul>
                                        </div>
                                        <div class="game-result-main" style="padding:10px 5px;">
                                            <div class="game-result-team game-result-team-first">
                                                <figure class="game-result-team-figure game-result-team-figure-big">
                                                    <img src="@tip.LocalTeamLogo" alt="" width="55" height="55">
                                                </figure>
                                            </div>
                                            <a href="/fixtureDetail/@tip.FixtureId" target="_blank">
                                                <div class="game-result-middle" style="margin-top:5px;">
                                                    @if (tip.TimeStatus == "NS")
                                                    {
                                                        <div class="game-results-status">
                                                            <p class="game-info-subtitle">
                                                                <time class="time-big" datetime="2018-04-17">
                                                                    <span class="heading-5">@tip.TimeStartingAtDateTime.Substring(11, 5)</span> @tip.TimeStartingAtDateTime.Substring(0, 10)
                                                                </time>
                                                            </p>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div class="game-results-status">
                                                            <p class="game-info-subtitle">
                                                                @tip.Status
                                                            </p>
                                                        </div>
                                                    }
                                                    @if (tip.TimeStatus != "NS")
                                                    {
                                                        <div class="game-result-score-wrap">
                                                            <div class="game-result-score game-result-team-win">
                                                                @tip.LocalTeamScore @*<span class="game-result-team-label game-result-team-label-top">Win</span>*@
                                                            </div>
                                                            <div class="game-result-score-divider">
                                                                <svg x="0px" y="0px" width="7px" height="21px" viewBox="0 0 7 21" enable-background="new 0 0 7 21" xml:space="preserve">
                                                                <g>
                                                                <circle cx="3.5" cy="3.5" r="3"></circle>
                                                                <path d="M3.5,1C4.879,1,6,2.122,6,3.5S4.879,6,3.5,6S1,4.878,1,3.5S2.122,1,3.5,1 M3.5,0C1.567,0,0,1.567,0,3.5S1.567,7,3.5,7      S7,5.433,7,3.5S5.433,0,3.5,0L3.5,0z"></path></g>
                                                                <g><circle cx="3.695" cy="17.5" r="3"></circle><path d="M3.695,15c1.378,0,2.5,1.122,2.5,2.5S5.073,20,3.695,20s-2.5-1.122-2.5-2.5S2.316,15,3.695,15 M3.695,14      c-1.933,0-3.5,1.567-3.5,3.5s1.567,3.5,3.5,3.5s3.5-1.567,3.5-3.5S5.628,14,3.695,14L3.695,14z"></path></g></svg>
                                                            </div>
                                                            <div class="game-result-score">
                                                                @tip.VisitorTeamScore
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </a>
                                            <div class="game-result-team game-result-team-second">
                                                <figure class="game-result-team-figure game-result-team-figure-big">
                                                    <img src="@tip.VisitorTeamLogo" alt="" width="55" height="55">
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="game-result-main" style="padding:10px 5px;">
                                            <div class="game-result-team game-result-team-first" style="max-width:100px;">
                                                <div class="game-result-team-name">@tip.LocalTeamName.ToUpper()</div>
                                                <div class="game-result-team-country">@tip.CountryName.ToUpper()</div>
                                            </div>

                                            <div class="game-result-team game-result-team-second" style="max-width:100px;">
                                                <div class="game-result-team-name">@tip.VisitorTeamName.ToUpper()</div>
                                                <div class="game-result-team-country">@tip.CountryName.ToUpper()</div>
                                            </div>
                                        </div>
                                        <div class="table-game-info-wrap">
                                            <div class="table-game-info-main table-custom-responsive" style="border:0; padding:12px 10px 12px 10px;">
                                                <table class="table-custom table-game-info" style="font-size:12px;">
                                                    <tbody>
                                                        <tr>
                                                            <td class="table-game-info-category" style="min-width:130px; font-size:0.90em; color:#353535;">@tip.MarketName</td>
                                                            <td class="table-game-info-number" style="min-width:100px;">@tip.OddLabel</td>
                                                            @if (tip.IsWin == 1)
                                                            {
                                                                <td class="table-game-info-number" style="min-width:60px; border-left:1px solid #e1e1e1; color:#64b000">@tip.OddValue</td>
                                                            }
                                                            else if (tip.IsWin == 0)
                                                            {
                                                                <td class="table-game-info-number" style="min-width:60px; border-left:1px solid #e1e1e1; color:#ff4f2e">@tip.OddValue</td>
                                                            }
                                                            else
                                                            {
                                                                <td class="table-game-info-number" style="min-width:60px; border-left:1px solid #e1e1e1">@tip.OddValue</td>
                                                            }

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="game-result-footer">
                                            <ul class="game-result-details" style="padding: 5px 5px 5px 5px">
                                                <li><img src="@tip.UserLogo" alt="" width="24" height="24"> @tip.UserName.ToUpper() </li>
                                            </ul>

                                        </div>
                                    </article>
                                }
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="/vendor/jsrender/jsrender.min.js"></script>
    <script src="/vendor/datepicker/bootstrap-datepicker.js"></script>
    <script src="/vendor/datepicker/bootstrap-datepicker.tr.js"></script>
    <script src="/vendor/moment/moment.js"></script>
    @*
        <script src="/vendor/moment/moment-with-locales.js"></script>*@

    <script id="allTemplate" type="text/x-jsrender">
        {{if countrySelected == true}}
        {{if isLive == true}}
        {{if liveMatchCount > 0}}
        {{for fixtureForLeague}}
        {{if liveMatchCount > 0 && countrySelected == true}}
        <div class="col-lg-12 isotope-item" data-filter="football">
            <div class="sport-table-header" style="padding: 0px 0px 2px 10px;">
                <div class="card-standing-team-item" style="padding: 0px;">
                    <a class="card-standing-toogle material-icons-remove {{if !isOpen }}collapsed{{/if}}" style="background:#fff; color:#151515; height:26px; width:26px; font-size:16px; line-height:26px; padding:0 5px; cursor:pointer;" id="tgl_{{:league.id}}{{if group != null}}{{:group.id}}{{/if}}" onclick="addRemoveLeagueList({{:league.id}},{{if group != null}}{{:group.id}}{{else}}0{{/if}})" role="button"></a>
                    <div class="card-standing-team" style="width:100%;">
                        <div class="card-standing-team-title">
                            <div class="card-standing-team-name"><a href="/leagueDetail/{{:league.id}}" target="_blank" style="color:#fff;">{{:league.name}} ({{:liveMatchCount}}/{{:matchCount}}) </a></div>
                            <div class="card-standing-team-country" style="font-size:0.90em;"><img src="{{:country.logo}}" alt="" width="24" height="24"> {{:country.name}}</div>
                        </div>
                    </div>
                </div>
            </div>

            {{if isOpen}}
            {{for fixture}}
            {{if timeStatus == "LIVE" ||  timeStatus == "ET" || timeStatus == "HT" ||  timeStatus == "PEN_LIVE" ||  timeStatus == "BREAK"}}
            <div class="sport-table">
                <div class="sport-table-tr">
                    <div class="row sport-row align-items-center row-15">
                        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1" style="text-align:center;">
                            {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                            {{if timeAddedTime != 0}}   <p style="margin-top:0px;"> + {{:timeAddedTime}}</p> {{/if}}
                            {{else timeStatus == "NS"}}
                            <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                            {{else  timeStatus == "ET"}}
                            <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                            {{else}}
                            {{:shortStatus}}
                            {{/if}}
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left">
                                    <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                    <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-7">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                                <div class="sport-table-title-item sport-table-title-item-right">
                                    {{if timeStatus != "NS"}}
                                    <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                                    <!--span.sport-table-title-team= obj.team[1][0]--><span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-2">
                            <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:100%; flex-basis:100%;"><img src="~/images/tipswall/icons8-soccer-ball.gif" alt="PRO LEAGUE" style="width:30px; height:30px; padding-right:5px;"></a>
                            </div>
                        </div>
                        {{if timeStatus == "NS" || timeStatus == "LIVE" ||  timeStatus == "ET" || timeStatus == "HT" ||  timeStatus == "PEN_LIVE" ||  timeStatus == "BREAK"}}
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-1">
                            <div class="sport-table-wager sport-table-wager-double">
                                <label class="checkbox-inline" style="padding-bottom:25px;">
                                    <input name="input-checkbox-2" id="chkAdd_{{:id}}" {{if isFavori}} checked="checked" {{/if}} onchange="addRemoveFavoriteFixtureList({{:id}})" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>
                                </label>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/for}}
            {{/if}}
        </div>
        {{/if}}
        {{/for}}
        {{else}}
        <div style="font-size:1.3em; text-align:center;" class="col-md-12 col-lg-12">
            <span>@SharedLocalizer.GetString("NoLiveMatches")</span>
        </div>

        {{/if}}
        {{else}}
        {{for fixtureForLeague}}
        {{if countrySelected == true}}
        <div class="col-lg-12 isotope-item" data-filter="football">
            <div class="sport-table-header" style="padding: 0px 0px 2px 10px;">
                <div class="card-standing-team-item" style="padding: 0px;">
                    <a class="card-standing-toogle material-icons-remove {{if !isOpen }}collapsed{{/if}}" style="background:#fff; color:#151515; height:26px; width:26px; font-size:16px; line-height:26px; padding:0 5px; cursor:pointer;" id="tgl_{{:league.id}}{{if group != null}}{{:group.id}}{{/if}}" onclick="addRemoveLeagueList({{:league.id}},{{if group != null}}{{:group.id}}{{else}}0{{/if}})" role="button"></a>

                    <div class="card-standing-team" style="width:100%;">
                        <div class="card-standing-team-title">
                            <div class="card-standing-team-name"><a href="/leagueDetail/{{:league.id}}" target="_blank" style="color:#fff;">{{:league.name}} ({{:liveMatchCount}}/{{:matchCount}}) </a></div>
                            <div class="card-standing-team-country" style="font-size:0.90em;"><img src="{{:country.logo}}" alt="" width="24" height="24"> {{:country.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {{if isOpen}}
            {{for fixture}}
            <div class="sport-table">
                <div class="sport-table-tr">
                    <div class="row sport-row align-items-center row-15">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center;">
                            {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                            {{if timeAddedTime != 0}}   <p style="margin-top:0px;"> + {{:timeAddedTime}}</p> {{/if}}
                            {{else timeStatus == "NS"}}
                            <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                            {{else  timeStatus == "ET"}}
                            <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                            {{else}}
                            {{:shortStatus}}
                            {{/if}}
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left">
                                    <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                    <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-6">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                                <div class="sport-table-title-item sport-table-title-item-right">
                                    {{if timeStatus != "NS"}}
                                    <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                                    <!--span.sport-table-title-team= obj.team[1][0]--><span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-2">
                            <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:100%; flex-basis:100%;"><img src="~/images/tipswall/icons8-soccer-ball.gif" alt="PRO LEAGUE" style="width:30px; height:30px; padding-right:5px;"></a>
                            </div>
                        </div>
                        {{if timeStatus == "NS" || timeStatus == "LIVE" ||  timeStatus == "ET" || timeStatus == "HT" ||  timeStatus == "PEN_LIVE" ||  timeStatus == "BREAK"}}
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-1">
                            <div class="sport-table-wager sport-table-wager-double">
                                <label class="checkbox-inline" style="padding-bottom:25px;">
                                    <input name="input-checkbox-2" id="chkAdd_{{:id}}" {{if isFavori}} checked="checked" {{/if}} onchange="addRemoveFavoriteFixtureList({{:id}})" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>
                                </label>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/for}}
            {{/if}}
        </div>
        {{/if}}
        {{/for}}
        {{/if}}
        {{else}}
        {{if isLive == true}}
        {{if liveMatchCount > 0}}
        {{for fixtureForLeague}}
        {{if liveMatchCount > 0}}
        <div class="col-lg-12 isotope-item" data-filter="football">
            <!-- Heading Component-->
            <div class="sport-table-header" style="padding: 0px 0px 2px 10px;">
                <div class="card-standing-team-item" style="padding: 0px;">
                    <a class="card-standing-toogle material-icons-remove {{if !isOpen }}collapsed{{/if}}" style="background:#fff; color:#151515; height:26px; width:26px; font-size:16px; line-height:26px; padding:0 5px; cursor:pointer;" id="tgl_{{:league.id}}{{if group != null}}{{:group.id}}{{/if}}" onclick="addRemoveLeagueList({{:league.id}},{{if group != null}}{{:group.id}}{{else}}0{{/if}})" role="button"></a>

                    <div class="card-standing-team" style="width:100%;">
                        <div class="card-standing-team-title">
                            <div class="card-standing-team-name"><a href="/leagueDetail/{{:league.id}}" target="_blank" style="color:#fff;">{{:league.name}} ({{:liveMatchCount}}/{{:matchCount}}) </a></div>
                            <div class="card-standing-team-country" style="font-size:0.90em;"><img src="{{:country.logo}}" alt="" width="24" height="24"> {{:country.name}}</div>
                        </div>

                    </div>
                </div>
            </div>
            {{if isOpen}}
            {{for fixture}}
            {{if timeStatus == "LIVE" ||  timeStatus == "ET" || timeStatus == "HT" ||  timeStatus == "PEN_LIVE" ||  timeStatus == "BREAK"}}
            <div class="sport-table">
                <div class="sport-table-tr">
                    <div class="row sport-row align-items-center row-15">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center;">
                            {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                            {{if timeAddedTime != 0}}   <p style="margin-top:0px;"> + {{:timeAddedTime}}</p> {{/if}}
                            {{else timeStatus == "NS"}}
                            <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                            {{else  timeStatus == "ET"}}
                            <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                            {{else}}
                            {{:shortStatus}}
                            {{/if}}
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left">
                                    <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                    <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-6">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                                <div class="sport-table-title-item sport-table-title-item-right">
                                    {{if timeStatus != "NS"}}
                                    <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                                    <!--span.sport-table-title-team= obj.team[1][0]--><span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-2">
                            <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:100%; flex-basis:100%;"><img src="~/images/tipswall/icons8-soccer-ball.gif" alt="PRO LEAGUE" style="width:30px; height:30px; padding-right:5px;"></a>
                            </div>
                        </div>
                        {{if timeStatus == "NS" || timeStatus == "LIVE" ||  timeStatus == "ET" || timeStatus == "HT" ||  timeStatus == "PEN_LIVE" ||  timeStatus == "BREAK"}}
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-1">
                            <div class="sport-table-wager sport-table-wager-double">
                                <label class="checkbox-inline" style="padding-bottom:25px;">
                                    <input name="input-checkbox-2" id="chkAdd_{{:id}}" {{if isFavori}} checked="checked" {{/if}} onchange="addRemoveFavoriteFixtureList({{:id}})" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>
                                </label>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/if}}
            {{/for}}
            {{/if}}
        </div>
        {{/if}}
        {{/for}}
        {{else}}
        <div style="font-size:1.3em; text-align:center;" class="col-md-12 col-lg-12">
            <span>@SharedLocalizer.GetString("NoLiveMatches")</span>
        </div>
        {{/if}}
        {{else}}
        {{for fixtureForLeague}}
        <div class="col-lg-12 isotope-item" data-filter="football">
            <!-- Heading Component-->
            <div class="sport-table-header" style="padding: 0px 0px 2px 10px;">
                <div class="card-standing-team-item" style="padding: 0px;">
                    <a class="card-standing-toogle material-icons-remove {{if !isOpen }}collapsed{{/if}}" style="background:#fff; color:#151515; height:26px; width:26px; font-size:16px; line-height:26px; padding:0 5px; cursor:pointer;" id="tgl_{{:league.id}}{{if group != null}}{{:group.id}}{{/if}}" onclick="addRemoveLeagueList({{:league.id}},{{if group != null}}{{:group.id}}{{else}}0{{/if}})" role="button"></a>

                    <div class="card-standing-team" style="width:100%;">
                        <div class="card-standing-team-title">
                            <div class="card-standing-team-name"><a href="/leagueDetail/{{:league.id}}" target="_blank" style="color:#fff;">{{:league.name}} ({{:liveMatchCount}}/{{:matchCount}}) </a></div>
                            <div class="card-standing-team-country" style="font-size:0.90em;"><img src="{{:country.logo}}" alt="" width="24" height="24"> {{:country.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
            {{if isOpen}}

            {{for fixture}}
            <div class="sport-table">
                <div class="sport-table-tr">
                    <div class="row sport-row align-items-center row-15">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center;">
                            {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                            {{if timeAddedTime != 0}}   <p style="margin-top:0px;"> + {{:timeAddedTime}}</p> {{/if}}
                            {{else timeStatus == "NS"}}
                            <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                            {{else  timeStatus == "ET"}}
                            <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                            {{else}}
                            {{:shortStatus}}
                            {{/if}}
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left">
                                    <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                    <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-6">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                                <div class="sport-table-title-item sport-table-title-item-right">
                                    {{if timeStatus != "NS"}}
                                    <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                                    <!--span.sport-table-title-team= obj.team[1][0]--><span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-2">
                            <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:100%; flex-basis:100%;"><img src="~/images/tipswall/icons8-soccer-ball.gif" alt="PRO LEAGUE" style="width:30px; height:30px; padding-right:5px;"></a>
                            </div>
                        </div>
                        {{if timeStatus == "NS" || timeStatus == "LIVE" ||  timeStatus == "ET" || timeStatus == "HT" ||  timeStatus == "PEN_LIVE" ||  timeStatus == "BREAK"}}
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-1">
                            <div class="sport-table-wager sport-table-wager-double">
                                <label class="checkbox-inline" style="padding-bottom:25px;">
                                    <input name="input-checkbox-2" id="chkAdd_{{:id}}" {{if isFavori}} checked="checked" {{/if}} onchange="addRemoveFavoriteFixtureList({{:id}})" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>
                                </label>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/for}}
            {{/if}}
        </div>
        {{/for}}
        {{/if}}
        {{/if}}
    </script>

    <script id="dateTemplate" type="text/x-jsrender">
        <div class="col-lg-12 isotope-item" data-filter="football">
            <!-- Heading Component-->
            <div class="sport-table-header">
                <p style="margin-bottom:0px;"> {{:fixtureForDate.timeStartingAtDate}} ({{:liveMatchCount}}/{{:matchCount}})</p>
            </div>
            {{if isLive == true}}
            {{for fixtureForDate.fixture}}
            {{if timeStatus == "LIVE" ||  timeStatus == "ET" || timeStatus == "HT" ||  timeStatus == "PEN_LIVE" ||  timeStatus == "BREAK"}}
            <div class="sport-table">
                <div class="sport-table-tr">
                    <div class="row sport-row align-items-center row-15">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center;">
                            {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                            {{if timeAddedTime != 0}}   <p style="margin-top:0px;"> + {{:timeAddedTime}}</p> {{/if}}
                            {{else timeStatus == "NS"}}
                            <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                            {{else  timeStatus == "ET"}}
                            <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                            {{else}}
                            {{:shortStatus}}
                            {{/if}}
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left">
                                    <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                    <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-6">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                                <div class="sport-table-title-item sport-table-title-item-right">
                                    {{if timeStatus != "NS"}}
                                    <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                                    <!--span.sport-table-title-team= obj.team[1][0]--><span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
                            <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:100%; flex-basis:100%;"><img src="~/images/tipswall/icons8-soccer-ball.gif" alt="PRO LEAGUE" style="width:30px; height:30px; padding-right:5px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/for}}
            {{else}}
            {{for fixtureForDate.fixture}}
            <div class="sport-table">
                <div class="sport-table-tr">
                    <div class="row sport-row align-items-center row-15">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center;">
                            {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                            {{if timeAddedTime != 0}}   <p style="margin-top:0px;"> + {{:timeAddedTime}}</p> {{/if}}
                            {{else timeStatus == "NS"}}
                            <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                            {{else  timeStatus == "ET"}}
                            <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                            {{else}}
                            {{:shortStatus}}
                            {{/if}}
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left">
                                    <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                    <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-6">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                                <div class="sport-table-title-item sport-table-title-item-right">
                                    {{if timeStatus != "NS"}}
                                    <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                                    <!--span.sport-table-title-team= obj.team[1][0]--><span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
                            <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:100%; flex-basis:100%;"><img src="~/images/tipswall/icons8-soccer-ball.gif" alt="PRO LEAGUE" style="width:30px; height:30px; padding-right:5px;"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{/for}}
            {{/if}}
        </div>
    </script>

    <script id="favoriFixtureTemplate" type="text/x-jsrender">
        <div class="sport-table-tr">
            <div class="row sport-row align-items-center row-15">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center;">
                    {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                    {{if timeAddedTime != 0}}   <p style="margin-top:0px;"> + {{:timeAddedTime}}</p> {{/if}}
                    {{else timeStatus == "NS"}}
                    <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                    {{else  timeStatus == "ET"}}
                    <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                    {{else}}
                    {{:shortStatus}}
                    {{/if}}
                </div>
                <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                    <div class="sport-table-title">
                        <div class="sport-table-title-item sport-table-title-item-left">
                            <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                            <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-9 col-sm-9 col-md-4 col-lg-6">
                    <div class="sport-table-title">
                        <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                        <div class="sport-table-title-item sport-table-title-item-right">
                            {{if timeStatus != "NS"}}
                            <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                            <!--span.sport-table-title-team= obj.team[1][0]--><span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                            {{/if}}
                        </div>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-6 col-lg-2">
                    <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:100%; flex-basis:100%;"><img src="~/images/tipswall/icons8-soccer-ball.gif" alt="PRO LEAGUE" style="width:30px; height:30px; padding-right:5px;"></a>
                    </div>
                </div>
                <div class="col-xs-10 col-sm-10 col-md-6 col-lg-1">
                    <div class="sport-table-wager sport-table-wager-double">
                        <label class="checkbox-inline" style="padding-bottom:25px;">
                            <input name="input-checkbox-2" id="chkRemove_{{:id}}" checked onchange="addRemoveFavoriteFixtureList({{:id}})" value="checkbox-1" type="checkbox" class="checkbox-custom"><span class="checkbox-custom-dummy"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script id="countryTemplate" type="text/x-jsrender">
        <article class="heading-component">
            <div class="heading-component-inner">
                <h5 class="heading-component-title">
                    @SharedLocalizer.GetString("CountryList") {{:liveMatchCount}}/{{:matchCount}}
                </h5>
            </div>
        </article>

        <!--Block Categories-->
        <ul class="list-xs form-wrap">
            {{for fixtureForLeague}}
            <li>
                <label class="checkbox-inline">
                    <input name="input-checkbox-2" value="checkbox-1" type="checkbox" checked="" class="checkbox-custom"><span class="checkbox-custom-dummy"></span><img src="{{:country.logo}}" alt="" width="24" height="24"> {{:country.name}} - {{:league.name}} ({{:liveMatchCount}}/{{:matchCount}})
                </label>
            </li>
            {{/for}}
        </ul>
    </script>

    <script id="selectCountryTemplate" type="text/x-jsrender">
        <li>
            <label class="checkbox-inline" style="letter-spacing:0.15em;">
                <input id="input-checkbox-{{:id}}" name="input-checkbox-country" onchange="addRemoveCountry({{:id}})" value="checkbox-1" type="checkbox" class="checkbox-custom">
                <span class="checkbox-custom-dummy" name="input-checkbox-country-dummy"></span>
                <img src="{{:logo}}" alt="" width="22" height="22" />  {{:name}}
            </label>
        </li>
    </script>
    @*
        <script id="fixtureTemplate" type="text/x-jsrender">
            <div class="sport-table">
                <div class="sport-table-tr">
                    <div class="row sport-row align-items-center row-15">
                        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" style="text-align:center;">
                            {{if timeStatus == "LIVE"}} <span class="text-danger">{{:timeMinute}} {{if timeInjuryTime != 0}} + {{:timeInjuryTime}} {{/if}}<span class="blink font-weight-bold">'</span> </span>
                            {{if timeAddedTime != 0}}   <p style="margin-top:0px;">added: {{:timeAddedTime}}</p> {{/if}}
                            {{else timeStatus == "NS"}}
                            <span class="blink font-weight-regular">{{:timeStartingAtDate}}</span> <span class="text-danger"> {{:timeStartingAtTime.substring(0,5)}} </span>
                            {{else  timeStatus == "ET"}}
                            <span class="text-danger">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                            {{else}}
                            {{:timeStatus}}
                            {{/if}}
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left">
                                    <span class="sport-table-title-team"><img src="{{:localTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                    <span class="sport-table-title-team"><img src="{{:visitorTeam.logoPath}}" alt="" width="22" height="22" /></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-9 col-sm-9 col-md-4 col-lg-6">
                            <div class="sport-table-title">
                                <div class="sport-table-title-item sport-table-title-item-left"><span class="sport-table-title-team">{{:localTeam.name}}</span><span class="sport-table-title-team">{{:visitorTeam.name}}</span></div>
                                <div class="sport-table-title-item sport-table-title-item-right">
                                    <span class="sport-table-title-score"><span>{{:localTeamScore}}</span></span>
                                    <span class="sport-table-title-score"><span>{{:visitorTeamScore}}</span></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-10 col-sm-10 col-md-6 col-lg-3">
                            <div class="sport-table-wager sport-table-wager-double">
                                <a class="sport-table-wager-button" href="/fixtureDetail/{{:id}}" target="_blank" style="max-width:80%; flex-basis:80%;"><span>Match Detail</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </script>*@

    @*
        <script id="fixtureDateTemplate" type="text/x-jsrender">
            <div class="col-lg-12 isotope-item" data-filter="football">
                <div class="sport-table-header">
                    <p style="margin-bottom:0px;"><img src="{{:country.logo}}" alt="" width="24" height="24" /> {{:country.name}} - {{:league.name}} ({{:liveMatchCount}}/{{:matchCount}})</p>
                </div>
                {{for fixture tmpl="fixtureTemplate"/}}
            </div>
        </script>*@
    @*
        <script id="fixtureLeagueTemplate" type="text/x-jsrender">
            <div class="col-lg-12 isotope-item" data-filter="football">
                <div class="sport-table-header">
                    <p style="margin-bottom:0px;"><img src="{{:country.logo}}" alt="" width="24" height="24" /> {{:country.name}} - {{:league.name}} ({{:liveMatchCount}}/{{:matchCount}})</p>
                </div>
                {{for fixture tmpl="fixtureTemplate"/}}
            </div>
        </script>*@
    @*
        <script id="liveTemplate" type="text/x-jsrender">
            {{for fixtureForLeagueLive tmpl="fixtureDateTemplate"/}}
        </script>*@
    <script src="/lib/views/fixture/fixtureOfDate.min.js" type="text/javascript" charset="utf-8"></script>

}
