@model List<PreOddsApi.WebUI.Models.Market.Models.MarketViewModel>
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "FixtureDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* <section class="section section-sm bg-gray-100" style="padding:0px 0px 10px 0px;">
    <div class="container">
        <div style="text-align:center; margin-bottom:10px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
</section>
 *@
<input type="hidden" id="fixtureId" value="@ViewBag.fixtureId" />
<section class="section section-sm bg-gray-100" style="min-height:300px;">
    <div class="container">
        <div class="text-center" id="divLoading" style="display: none; padding-top:25px;">
            <img src="/images/loading.gif" alt="loading" style="width: 25px;" />
            <p class="game-info-subtitle" style="font-size:1.2em;">
                @SharedLocalizer.GetString("LoadingMatchDetail")
            </p>
        </div>
        <div class="row row-50" id="divFixtureDetailLoading">
            <div class="col-lg-8">
                <div class="row row-50">

                    <div class="col-sm-12">
                        <div id="divFixtureDetail"></div>

                        <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-shortcodes" style="border:none;">
                            <!-- Nav tabs-->
                            <ul class="nav nav-tabs">
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link active" href="#tabs-events" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("Events")</a></li>
                                @*                                 <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-corners" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("Corners")</a></li> *@
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-statistics" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("Statistics")</a></li>
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-statisticsAnalysis" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("StatisticsAnalysis")</a></li>
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-oddsAnalysis" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("OddsAnalysis")</a></li>
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-forms" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("Forms")</a></li>
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-formations" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("Formations")</a></li>
                            </ul>
                            <!-- Tab panes-->
                            <div class="tab-content" style="padding:20px 10px;">
                                <div class="tab-pane fade active show" id="tabs-events">
                                    <article class="game-result" style="border:none;">
                                        <div class="table-game-info-wrap" id="divEventList">
                                        </div>
                                    </article>
                                </div>
                                @*                                 <div class="tab-pane fade" id="tabs-corners">
                                <article class="game-result" style="border:none;">
                                <div class="table-game-info-wrap" id="divCornerList">

                                </div>
                                </article>
                                </div> *@
                                <div class="tab-pane fade" id="tabs-statistics">
                                    <article class="game-result" style="border:none;" id="divStatistics"></article>
                                </div>
                                <div class="tab-pane fade" id="tabs-statisticsAnalysis">
                                    <article class="game-result" style="border:none;" id="divStatisticsAnalysis"></article>
                                </div>
                                <div class="tab-pane fade" id="tabs-oddsAnalysis">
                                    <div class="col-md-6 col-lg-12">
                                        <div class="container">
                                            <div class="row row-15">
                                                <div class="col-md-6">
                                                    <select id="markets" onchange="renderOdds()" class="select select-sport-result" data-placeholder="Please select market" data-dropdown-class="select-sport-result-dropdown" style="min-width: 124px">
                                                        @if (Model != null)
                                                        {
                                                            @foreach (var market in Model)
                                                            {
                                                                if (market.Id == 1)
                                                                {
                                                                    <option value="@market.Id" selected="">@market.Name</option>
                                                                }
                                                                else
                                                                {
                                                                    <option value="@market.Id">@market.Name</option>
                                                                }
                                                            }
                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <select id="analysisPeriod" onchange="renderOdds()" class="select select-sport-result" data-placeholder="Please select Analysis Period" data-dropdown-class="select-sport-result-dropdown" style="min-width: 124px">
                                                        <option value="0" selected="selected">@SharedLocalizer.GetString("Month1")</option>
                                                        <option value="1">@SharedLocalizer.GetString("Month3")</option>
                                                        <option value="2">@SharedLocalizer.GetString("Month6")</option>
                                                        <option value="3">@SharedLocalizer.GetString("Year1")</option>
                                                        <option value="4">@SharedLocalizer.GetString("All")</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="text-center" id="divLoadingOdds" style="display: none; padding-top:25px;">
                                                        <img src="/images/loading.gif" alt="loading" style="width: 25px;" />
                                                        <p class="game-info-subtitle" style="font-size:1.2em;">
                                                            @SharedLocalizer.GetString("LoadingOdds")
                                                        </p>
                                                    </div>
                                                    <article class="game-result" style="border:none;" id="divFixtureOdds">
                                                        @*<div class="table-game-info-wrap" style="max-width:none;">*@
                                                        @*<div class="table-game-info-wrap">
                                                        <div id="divFixtureOdds" class="table-game-info-main table-custom-responsive" style="border:0; padding:12px 10px 12px 10px;">

                                                        </div>
                                                        </div>*@
                                                        @*</div>*@
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabs-forms">
                                    <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-forms" style="border:none;">
                                        <!-- Nav tabs-->
                                        <ul class="nav nav-tabs">
                                            <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link active" href="#tabs-homeTeam" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("HomeTeam")</a></li>
                                            <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-hth" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("Hth")</a></li>
                                            <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-awayTeam" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("AwayTeam")</a></li>
                                        </ul>
                                        <div class="tab-content" style="padding:20px 10px;">
                                            <div class="tab-pane fade active show" id="tabs-homeTeam">
                                                <div class="row row-50">
                                                    <div class="col-lg-12">
                                                        <!-- Match info-->
                                                        <div class="match-table-wrap">
                                                            <div class="match-table">
                                                                <div class="match-table-header">
                                                                    <div class="match-table-tr">
                                                                        <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("HomeTeam")</span></div>
                                                                        <div class="match-table-td" style="width: 20%; text-align:center;">@SharedLocalizer.GetString("Score")</div>
                                                                        <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("AwayTeam")</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="match-table-body" id="divHomeTeamForms">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tabs-hth">
                                                <div class="row row-50">
                                                    <div class="col-lg-12">
                                                        <!-- Match info-->
                                                        <div class="match-table-wrap">
                                                            <div class="match-table">
                                                                <div class="match-table-header">
                                                                    <div class="match-table-tr">
                                                                        <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("HomeTeam")</span></div>
                                                                        <div class="match-table-td" style="width: 20%; text-align:center;">@SharedLocalizer.GetString("Score")</div>
                                                                        <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("AwayTeam")</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="match-table-body" id="divHTHForms">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tabs-awayTeam">
                                                <div class="row row-50">
                                                    <div class="col-lg-12">
                                                        <!-- Match info-->
                                                        <div class="match-table-wrap">
                                                            <div class="match-table">
                                                                <div class="match-table-header">
                                                                    <div class="match-table-tr">
                                                                        <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("HomeTeam")</span></div>
                                                                        <div class="match-table-td" style="width: 20%; text-align:center;">@SharedLocalizer.GetString("Score")</div>
                                                                        <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("AwayTeam")</span></div>
                                                                    </div>
                                                                </div>
                                                                <div class="match-table-body" id="divAwayTeamForms">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tabs-formations">
                                    <div class="col-md-6 col-lg-12">
                                        <div class="row row-30" id="divformation">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row row-0" id="divComment">
                </div>
                <div class="row row-0" style="margin-top:0px;">
                    <div class="col-md-6 col-lg-12">
                        <!-- Heading Component-->
                        <article class="heading-component">
                            <div class="heading-component-inner">
                                <h5 class="heading-component-title">
                                    @SharedLocalizer.GetString("Standing")
                                </h5>@*<a class="button button-xs button-gray-outline" href="standings.html">Full Standings</a>*@
                            </div>
                        </article>
                        <!-- Table team-->
                        <div class="table-custom-responsive">
                            <table class="table-custom table-standings table-classic">
                                <thead>
                                    <tr>
                                        <th colspan="2">@SharedLocalizer.GetString("Position")</th>
                                        <th>@SharedLocalizer.GetString("TotalPointShort")</th>
                                        <th>@SharedLocalizer.GetString("WinShort")</th>
                                        <th>@SharedLocalizer.GetString("DrawShort")</th>
                                        <th>@SharedLocalizer.GetString("LostShort")</th>
                                        <th>@SharedLocalizer.GetString("PointShort")</th>
                                    </tr>
                                </thead>
                                <tbody id="divStandings"></tbody>
                            </table>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-lg-12">
                    <div style="text-align:center; margin-bottom:10px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
                        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

@section scripts {
    <script src="/vendor/jsrender/jsrender.min.js"></script>

    <script id="fixtureTemplate" type="text/x-jsrender">
                <article class="heading-component">
                    <div class="heading-component-inner">
                        {{if country != null}}
                        <h5 class="heading-component-title">
                            <img src="{{:country.logo}}" alt="" width="24" height="24" /> {{:country.name}}
                        </h5>
                        <span style="float:right;"> <a href="/leagueDetail/{{:league.id}}" target="_blank">  <img src="{{:league.logo}}" alt="" width="24" height="24" /> {{:league.name}}</a></span>
                        {{else}}
                        <h5 class="heading-component-title">
                            <a href="/leagueDetail/{{:league.id}}" target="_blank">    <img src="{{:league.logo}}" alt="" width="24" height="24" /> {{:league.name}}</a>
        </h5>
                        {{/if}}
                    </div>
                </article>
                <article class="game-result">
                    <div class="game-info game-info-classic" style="padding:10px;">
                        <span style="float:left;"> @SharedLocalizer.GetString("WeatherForecast"): <img src="{{:weatherIcon}}" alt="" width="32" height="32" /><span> {{:weatherCode}}</span></span>
                        <span style="float:right;"> @SharedLocalizer.GetString("Temparature"): {{:weatherTemperatureTemp}} °F / <span> {{:weatherTemperatureCelsiusTemp}}</span> °C</span>
                    </div>
                    <div class="game-info game-info-classic" style="padding:30px 10px 30px 10px;">
                        {{if venue != null && venue.name != null }}
                        <p class="game-info-subtitle">

        @SharedLocalizer.GetString("Stadium"): {{:venue.name}}

        @*<time datetime="2018-04-17"> {{:timeStartingAtDateTime}}</time>*@
                        </p>
                        {{/if}}

        @*<p class="game-info-subtitle">
                            <time datetime="2018-04-17" style="padding-top:25px;"> {{:timeStartingAtDate}}</time>
                        </p>*@
        @*<h3 class="game-info-title"><img src="{{:country.logo}}" alt="" width="36" height="36" /> {{:country.name}} - {{:league.name}}</h3>*@
                        <div class="game-info-main">
                            <div class="game-info-team game-info-team-first">
                                <figure>
                                                      {{if localTeam != null}}      <img src="{{:localTeam.logoPath}} " alt="" width="64" height="64" />{{/if}}
                                </figure>
                                <div class="game-result-team-name">{{:localTeam.name}}</div>
                                {{if localTeamCoach != null}}
                                <div class="game-result-team-country">{{:localTeamCoach.commonName}}</div>
                                {{/if}}
                                <div class="game-result-team-country" style="display: flex; justify-content: center;">
                                    {{if localTeamForm != null}}
                                    {{props localTeamForm.split('')}}
                                    <span style="border:1px solid #808080; {{if prop == "L"}} background-color:#d0021b; color:#fff; {{else prop == "W"}} background-color:#2ba774; color:#fff;  {{else prop == "D"}} background-color:#ccc;  color:#2c2d31; {{/if}} width:1.225em; height:1.225em; margin: 1rem .125rem 0; font-size: .875rem;"> <span>  {{:prop}}</span> </span>
                                    {{/props}}
                                    {{/if}}
                                </div>
                            </div>
                            <div class="game-info-middle">
        @*<div class="game-result-score-wrap">
                                    <span class="text-danger" style="font-size:1.2em;">{{:timeMinute}} <span class="blink font-weight-bold">'</span> </span>
                                </div>*@
        @*<div class="game-result-score-wrap">
                                    <time datetime="2018-04-17" style="padding-top:25px;"> {{:timeStartingAtDate}}</time>
                                </div>
                                <div class="game-result-score-wrap" style="padding-top:0px;">
                                    <time datetime="2018-04-17" style="padding-top:5px;"> {{:timeStartingAtTime}}</time>
                                </div>*@
                                <p class="game-info-subtitle" style="padding-bottom:25px;">
                                    <time class="time-big" datetime="2018-04-17">
                                        <span class="heading-3">
                                            {{if timeStartingAtTime != null}}
                                            {{:timeStartingAtTime.substring(0,5)}}
                                            {{/if}}
                                            </span>
                                            {{:timeStartingAtDate}}
                                    </time>
                                </p>
                                <div class="game-result-score-wrap">
                                    {{if timeStatus != "NS"}}
                                    {{if localTeamScore > visitorTeamScore}}
                                    <div class="game-info-score game-result-team-win">{{:localTeamScore}}</div>
                                    <div class="game-info-score">{{:visitorTeamScore}}</div>
                                    {{else localTeamScore < visitorTeamScore}}
                                    <div class="game-info-score">{{:localTeamScore}}</div>
                                    <div class="game-info-score game-result-team-win">{{:visitorTeamScore}}</div>
                                    {{else}}
                                    <div class="game-info-score">{{:localTeamScore}}</div>
                                    <div class="game-info-score">{{:visitorTeamScore}}</div>
                                    {{/if}}
                                    {{/if}}
                                </div>
                                {{if timeStatus == "LIVE"}}
                                <div class="game-result-divider-wrap"><span class="game-info-team-divider" style="width:40px; height:40px; line-height: 37px;"><span class="text-danger" style="font-size:1.4em; padding-top:10px;"> {{:timeMinute}}<span class="blink font-weight-bold">'</span> </span></span></div>
                                {{else timeStatus == "ET"}}
                                <div class="game-result-divider-wrap"><span class="game-info-team-divider" style="width:40px; height:40px; line-height: 37px;"><span class="text-danger" style="font-size:1.4em; padding-top:10px;"> {{:timeMinute}}<span class="blink font-weight-bold">'</span> </span></span></div>
                                {{else timeStatus == "NS"}}
                                <div class="game-result-divider-wrap"><span class="game-info-team-divider">VS</span></div>
                                {{else}}
                                <div class="game-result-divider-wrap"><span class="game-info-team-divider">{{:timeStatus}}</span></div>
                                {{/if}}

                                {{if htScore != null}}
                                <p class="game-info-subtitle">
                                    <time datetime="2018-04-17" style="padding-top:25px;">@SharedLocalizer.GetString("HalfTimeShort"): {{:htScore}}</time>
                                </p>
                                {{/if}}

                                {{if timeInjuryTime > 0}}
                                <p class="game-info-subtitle">
                                    <time datetime="2018-04-17" style="padding-top:25px;">@SharedLocalizer.GetString("InjuryTime"): +{{:timeInjuryTime}}</time>
                                </p>
                                {{/if}}
                                {{if timeAddedTime > 0}}
                                <p class="game-info-subtitle">
                                    <time datetime="2018-04-17" style="padding-top:25px;"> + {{:timeAddedTime}}</time>
                                </p>
                                {{/if}}
                            </div>
                            <div class="game-info-team game-info-team-second">
                                <figure>
                                    <img src="{{:visitorTeam.logoPath}}" alt="" width="77" height="70" />
                                </figure>
                                <div class="game-result-team-name">{{:visitorTeam.name}}</div>
                                {{if visitorTeamCoach != null}}
                                <div class="game-result-team-country">{{:visitorTeamCoach.commonName}}</div>
                                {{/if}}
                                <div class="game-result-team-country" style="display: flex; justify-content: center;">
                                    {{if visitorTeamForm != null}}
                                    {{props visitorTeamForm.split('')}}
                                    <span style="border:1px solid #808080; {{if prop == "L"}} background-color:#d0021b; color:#fff; {{else prop == "W"}} background-color:#2ba774; color:#fff;  {{else prop == "D"}} background-color:#ccc;  color:#2c2d31; {{/if}} width:1.225em; height:1.225em; margin: 1rem .125rem 0; font-size: .875rem;"> <span>  {{:prop}}</span> </span>
                                    {{/props}}
                                    {{/if}}
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="game-info game-info-classic" style="padding:10px 10px 30px 10px; text-align:center;">
                        <span style="float:left;"> @SharedLocalizer.GetString("Clouds"):  {{:weatherClouds}}</span>
        @*<span> @SharedLocalizer.GetString("WindDegree"): {{:weatherWindDegree}}°</span>
                        <span style="float:right"> @SharedLocalizer.GetString("WindSpeed") :  {{:weatherWindSpeed}}</span>*@
                        <span style="float:right"> @SharedLocalizer.GetString("WindDegree"): {{:weatherWindDegree}} / {{:weatherWindSpeed}}</span>
                    </div>
                </article>

    </script>
    <script id="standingBaseTemplate" type="text/x-jsrender">
        {{if standing.length > 0}}
        {{for standing }}
        {{if #parent.parent.data.localTeamId == standingsTeamId}}
        <tr style="background-color:#77af0026;">
            {{else #parent.parent.data.visitorTeamId == standingsTeamId}}
        <tr style="background-color:#e75a3c17;">
            {{else}}
        <tr>
            {{/if}}
            <td><span>{{:standingsPositon}}</span></td>
            <td class="team-inline">
                <div class="team-figure">
                    <img src="{{:team.logoPath}}" alt="" width="25" height="25" />
                </div>
                <div class="team-title">
                    <div class="team-name">{{:team.name}}</div>
                    <div class="team-country">{{:team.shortCode}}</div>
                </div>
            </td>
            <td>{{:standingsOverallGamesPlayed}}</td>
            <td>{{:standingsOverallWon}}</td>
            <td>{{:standingsOverallDraw}}</td>
            <td>{{:standingsOverallLost}}</td>
            <td>{{:standingsTotalPoints}}</td>
        </tr>
        {{/for}}
        {{else}}
        @SharedLocalizer.GetString("NoData")
        {{/if}}
    </script>
    <script id="standingTemplate" type="text/x-jsrender">

    </script>
    <script id="statisticsTemplate" type="text/x-jsrender">
        <div class="col-lg-12" style="padding-bottom:15px;">
            <div class="statistics-interrelation">
                <div class="statistics-interrelation-header">
                    {{if type == 'ball-possession'}}{{:typeName}}{{/if}}
                </div>
                <div class="statistics-interrelation-body">
                    <div class="statistics-interrelation-body-list">
                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block">
                                <span class="statistics-interrelation-body-item-block-procent">
                                   
                                                    {{if type == 'ball-possession'}}
                                                        {{:localTeamValue}}%
                                                         {{/if}}
                                    
            
                                    </span>
                                    <span class="statistics-interrelation-body-item-block-text">
                                                    
                                                {{:localTeamName}}
                                                        

                                        </span>
                                        </div>
                        </div>

                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block statistics-interrelation-body-item-block-primary">
                                <span class="statistics-interrelation-body-item-block-procent">
                                           {{if type == 'ball-possession'}}
                                                                {{:visitorTeamValue}}%
                                                                 {{/if}}
                                    </span>
                                    <span class="statistics-interrelation-body-item-block-text">
                                        {{:visitorTeamName}}
                                        </span>
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-game-info-wrap">
            <span class="table-game-info-title">@SharedLocalizer.GetString("Shots")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                            
                        <tr>
                            <td class="table-game-info-number">{{:localTeamValue}}</td>
                            <td class="table-game-info-category">{{:typeName}}</td>
        @* <td class="table-game-info-category">@SharedLocalizer.GetString("TotalShots")</td> *@
                            <td class="table-game-info-number">{{:visitorTeamValue}}</td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>
@*         <div class="col-lg-12" style="padding-top:10px;">
            <div class="statistics-interrelation">
                <div class="statistics-interrelation-header">
                    <p>@SharedLocalizer.GetString("SuccessPasses")</p>
                </div>
                <div class="statistics-interrelation-body">
                    <div class="statistics-interrelation-body-list">
                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block"><span class="statistics-interrelation-body-item-block-procent">{{:localTeamStatistic.passesPercentage}}%</span><span class="statistics-interrelation-body-item-block-text">{{:localTeam.name}}</span></div>
                        </div>

                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block statistics-interrelation-body-item-block-primary"><span class="statistics-interrelation-body-item-block-procent">{{:visitorTeamStatistic.passesPercentage}}%</span><span class="statistics-interrelation-body-item-block-text">{{:visitorTeam.name}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("Passes")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.passesTotal}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("TotalPasses")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.passesTotal}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.passesAccurate}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("PassesAccurate")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.passesAccurate}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.ballSafe}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("BallSafe")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.ballSafe}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.attacksAttacks}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Attacks")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.attacksAttacks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("Discipline")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.substitutions}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Substitutions")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.substitutions}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.yellowCards}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("YellowCards")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.yellowCards}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.redCards}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("RedCards")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.redCards}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.offsides}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Offsides")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.offsides}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.fouls}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Fouls")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.fouls}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("SetPlay")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.freeKick}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Freekicks")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.freeKick}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.corners}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Corners")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.corners}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatistic.throwIn}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ThrowIn")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatistic.throwIn}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> *@
    </script>
    <script id="statisticsAnalysisTemplate" type="text/x-jsrender">
        <div class="col-lg-12" style="padding-bottom:15px;">
            <div class="statistics-interrelation">

                <div class="statistics-interrelation-header">
                    <div class="statistics-interrelation-body-list">
                        <div class="statistics-interrelation-body-item">
                            <p> @SharedLocalizer.GetString("Last") {{:localTeamStatisticAnalysis.totalMatchCount}} @SharedLocalizer.GetString("Last10MatchesHeader") </p>
                        </div>
                        <div class="statistics-interrelation-body-item">
                            <p> @SharedLocalizer.GetString("Possession") </p>
                        </div>
                        <div class="statistics-interrelation-body-item">
                            <p> @SharedLocalizer.GetString("Last") {{:visitorTeamStatisticAnalysis.totalMatchCount}} @SharedLocalizer.GetString("Last10MatchesHeader") </p>
                        </div>
                    </div>

                </div>
                <div class="statistics-interrelation-body">
                    <div class="statistics-interrelation-body-list">
                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block"><span class="statistics-interrelation-body-item-block-procent">{{:localTeamStatisticAnalysis.possessionTime}}%</span><span class="statistics-interrelation-body-item-block-text">{{:localTeam.name}}</span></div>
                        </div>

                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block statistics-interrelation-body-item-block-primary"><span class="statistics-interrelation-body-item-block-procent">{{:visitorTeamStatisticAnalysis.possessionTime}}%</span><span class="statistics-interrelation-body-item-block-text">{{:visitorTeam.name}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-game-info-wrap">
            <span class="table-game-info-title">@SharedLocalizer.GetString("FinalTimeGoals")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.goalFor}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("GoalFor")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.goalFor}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.goalAgainst}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("GoalAgainst")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.goalAgainst}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.goalTotal}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("GoalTotal")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.goalTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("HalfTimeGoals")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.goalHTFor}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("GoalFor")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.goalHTFor}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.goalHTAgainst}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("GoalAgainst")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.goalHTAgainst}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.goalHTTotal}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("GoalTotal")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.goalHTTotal}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("Shots")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.shotsTotal}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("TotalShots")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.shotsTotal}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.shotsOnGoal}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ShotsOnTarget")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.shotsOnGoal}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.shotsOffGoal}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ShotsOffTarget")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.shotsOffGoal}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.shotsBlocked}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ShotsBlocked")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.shotsBlocked}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.shotsInsideBox}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ShotsInsideBox")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.shotsInsideBox}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.shotsOutsideBox}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ShotsOutsideBox")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.shotsOutsideBox}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.saves}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ShotsSaves")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.saves}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.goalKick}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("GoalKick")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.goalKick}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-lg-12" style="padding-top:10px;">
            <div class="statistics-interrelation">
                <div class="statistics-interrelation-header">
                    <div class="statistics-interrelation-body-list">
                        <div class="statistics-interrelation-body-item">
                            <p> @SharedLocalizer.GetString("Last") {{:localTeamStatisticAnalysis.totalMatchCount}} @SharedLocalizer.GetString("Last10MatchesHeader") </p>
                        </div>
                        <div class="statistics-interrelation-body-item">
                            <p> @SharedLocalizer.GetString("SuccessPasses") </p>
                        </div>
                        <div class="statistics-interrelation-body-item">
                            <p> @SharedLocalizer.GetString("Last") {{:visitorTeamStatisticAnalysis.totalMatchCount}} @SharedLocalizer.GetString("Last10MatchesHeader") </p>
                        </div>
                    </div>
                </div>
                <div class="statistics-interrelation-body">
                    <div class="statistics-interrelation-body-list">
                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block"><span class="statistics-interrelation-body-item-block-procent">{{:localTeamStatisticAnalysis.passesPercentage}}%</span><span class="statistics-interrelation-body-item-block-text">{{:localTeam.name}}</span></div>
                        </div>

                        <div class="statistics-interrelation-body-item">
                            <div class="statistics-interrelation-body-item-block statistics-interrelation-body-item-block-primary"><span class="statistics-interrelation-body-item-block-procent">{{:visitorTeamStatisticAnalysis.passesPercentage}}%</span><span class="statistics-interrelation-body-item-block-text">{{:visitorTeam.name}}</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("Passes")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.passesTotal}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("TotalPasses")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.passesTotal}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.passesAccurate}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("PassesAccurate")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.passesAccurate}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.ballSafe}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("BallSafe")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.ballSafe}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.attacksAttacks}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Attacks")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.attacksAttacks}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("Discipline")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.substitutions}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Substitutions")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.substitutions}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.yellowCards}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("YellowCards")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.yellowCards}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.redCards}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("RedCards")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.redCards}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.offsides}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Offsides")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.offsides}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.fouls}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Fouls")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.fouls}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="table-game-info-wrap" style="padding-top:10px;">
            <span class="table-game-info-title">@SharedLocalizer.GetString("SetPlay")<span></span></span>
            <div class="table-game-info-main table-custom-responsive">
                <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                    <tbody>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.freeKick}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Freekicks")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.freeKick}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.corners}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("Corners")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.corners}}</td>
                        </tr>
                        <tr>
                            <td class="table-game-info-number">{{:localTeamStatisticAnalysis.throwIn}}</td>
                            <td class="table-game-info-category">@SharedLocalizer.GetString("ThrowIn")</td>
                            <td class="table-game-info-number">{{:visitorTeamStatisticAnalysis.throwIn}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>
    <script id="eventsBaseTemplate" type="text/x-jsrender">
        {{if teamsEvents.length > 0}}
        <span class="table-game-info-title">@SharedLocalizer.GetString("Events")<span></span></span>
        <div class="table-game-info-main table-custom-responsive">
            <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                <tbody>
                    {{for teamsEvents tmpl="eventsTemplate"/}}
                </tbody>
            </table>
        </div>
        {{else}}
        @SharedLocalizer.GetString("NoData")
        {{/if}}
    </script>
    <script id="eventsTemplate" type="text/x-jsrender">
        <tr>
            {{if position == 0}}
            <td class="table-game-info-category" style="width:unset; color:#35363c;">
                <p class="game-highlights-title">
                    {{if type == "goal"}}
                    <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"></span> {{:playerName}}
                <p class="game-highlights-description"> assisted by {{:relatedPlayerName}}</p>
                {{else type == "substitution"}}
                <span class="icon icon-xxs icon-primary fa fa-exchange"></span> {{:playerName}}
                <p class="game-highlights-description"> {{:relatedPlayerName}}</p>
                {{else type == "yellowcard"}}
                <span class="icon icon-xxs icon-orange fa fa-file"></span> {{:playerName}}
                {{else type == "yellowred"}}
                <span class="icon icon-xxs icon-orange fa fa-file"></span><span class="icon icon-xxs icon-red-2 fa fa-file"></span> {{:playerName}}
                {{else type == "redcard"}}
                <span class="icon icon-xxs icon-red-2 fa fa-file"></span> {{:playerName}}
                {{else type == "missed_penalty"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "owngoal"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "penalty"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "pen_shootout_goal"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "pen_shootout_miss"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{/if}}
                </p>
            </td>
            {{else}}
            <td class="table-game-info-category" style="width:unset;"></td>
            {{/if}}

            <td class="table-game-info-number">{{:minute}}’</td>

            {{if position == 1}}
            <td class="table-game-info-category" style="width:unset; color:#35363c;">
                <p class="game-highlights-title">
                    {{if type == "goal"}}
                    <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> Goal</span> {{:playerName}}
                <p class="game-highlights-description"> assisted by {{:relatedPlayerName}}</p>
                {{else type == "substitution"}}
                <span class="icon icon-xxs icon-primary fa fa-exchange"></span> {{:playerName}}
                <p class="game-highlights-description"> {{:relatedPlayerName}}</p>
                {{else type == "yellowcard"}}
                <span class="icon icon-xxs icon-orange fa fa-file"></span> {{:playerName}}
                {{else type == "yellowred"}}
                <span class="icon icon-xxs icon-orange fa fa-file"></span><span class="icon icon-xxs icon-red-2 fa fa-file"></span> {{:playerName}}
                {{else type == "redcard"}}
                <span class="icon icon-xxs icon-red-2 fa fa-file"></span> {{:playerName}}
                {{else type == "missed_penalty"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "owngoal"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "penalty"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "pen_shootout_goal"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{else type == "pen_shootout_miss"}}
                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> {{:typeName}}</span>
                <p class="game-highlights-description"> {{:playerName}}</p>
                {{/if}}
                </p>
            </td>
            {{else}}
            <td class="table-game-info-category" style="width:unset;"></td>
            {{/if}}
        </tr>
    </script>
    @*     <script id="cornersBaseTemplate" type="text/x-jsrender">
        {{if teamsCorners.length > 0}}
        <span class="table-game-info-title">@SharedLocalizer.GetString("Corners")<span></span></span>
        <div class="table-game-info-main table-custom-responsive">
            <table class="table-custom table-game-info" style="border-spacing:0 2px;">
                <tbody>
                    {{for teamsCorners tmpl="cornerTemplate"/}}
                </tbody>
            </table>
        </div>
        {{else}}
        @SharedLocalizer.GetString("NoData")
        {{/if}}

    </script>
    <script id="cornerTemplate" type="text/x-jsrender">
        <tr>
            {{if position == 0}}
            <td class="table-game-info-category" style="width:unset; color:#35363c;">
                <p class="game-highlights-title">
                    <span class="icon icon-xxs icon-orange fa fa-flag"></span> {{:comment}}
                </p>
            </td>
            {{else}}
            <td class="table-game-info-category" style="width:unset;"></td>
            {{/if}}

            <td class="table-game-info-number">{{:minute}}’ {{if extraMinute > 0}} + {{:extraMinute}} {{/if}}</td>

            {{if position == 1}}
            <td class="table-game-info-category" style="width:unset; color:#35363c;">
                <p class="game-highlights-title">
                    <span class="icon icon-xxs icon-primary fa fa-flag"></span> {{:comment}}
                </p>
            </td>
            {{else}}
            <td class="table-game-info-category" style="width:unset;"></td>
            {{/if}}
        </tr>
    </script> *@
    <script id="homeLastMatchesBaseTemplate" type="text/x-jsrender">
        {{for localTeamLastMatches tmpl="lastMatchesTemplate"/}}
    </script>
    <script id="awayLastMatchesBaseTemplate" type="text/x-jsrender">
        {{for visitorTeamLastMatches tmpl="lastMatchesTemplate"/}}
    </script>
    <script id="hthLastMatchesBaseTemplate" type="text/x-jsrender">
        {{for headToHeadLastMatches tmpl="lastMatchesTemplate"/}}
    </script>
    <script id="lastMatchesTemplate" type="text/x-jsrender">
        <div class="match-table-tr">

            <div class="match-table-td" style="width: 40%;padding:15px 20px;">
                <div class="match-table-team">
                    <figure><img src="{{:localTeam.logoPath}} " alt="" width="41" height="41" /></figure>
                    <span>{{:localTeam.name}}</span>
                </div>
            </div>
            <div class="match-table-td" style="width: 20%; padding:15px 20px;">

                <div class="match-table-score" style="text-align: center; font-size: 1.5em;">
                    <span {{if localTeamScore > visitorTeamScore}} style="color:#64b000;" {{else localTeamScore < visitorTeamScore}} style="color:#ff4f2e;" {{/if}}>{{:localTeamScore}}</span> <span>:</span> <span {{if visitorTeamScore > localTeamScore}} style="color:#64b000;" {{else visitorTeamScore < localTeamScore}} style="color:#ff4f2e;" {{/if}}>{{:visitorTeamScore}}</span>
                </div>

                <div class="match-table-time" style="text-align: center; font-size: 0.95em;"><span>
                    {{if timeStartingAtDateTime != null}}
                    {{:timeStartingAtDateTime.substring(0,16)}}
                    {{/if}}
                    </span></div>
            </div>
            <div class="match-table-td" style="width: 40%;padding:15px 20px;">
                <div class="match-table-team match-table-team-winner">
                    <figure><img src="{{:visitorTeam.logoPath}}" alt="" width="41" height="59" /></figure>
                    <span>{{:visitorTeam.name}}</span>
                </div>
            </div>
        </div>
    </script>
    <script id="formationTemplate" type="text/x-jsrender">
        <div class="col-sm-6">
            <!-- Table Roster-->
            <div class="table-custom-responsive">
                <table class="table-custom table-roster">
                    <thead>
                        <tr>
                            <th colspan="3">{{:localTeam.name}}</th>
                            <th colspan="2" style="padding:0px 10px 0px 0px;">{{:localTeamFormation}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@SharedLocalizer.GetString("NumberShort")</td>
                            <td style="width:10%;"></td>
                            <td>@SharedLocalizer.GetString("PlayerNameShort")</td>
                            <td>@SharedLocalizer.GetString("PositionShort")</td>
                            <td style="width:12%;"></td>
                        </tr>
                        {{for localTeamLineup }}

                        <tr>
                            <td>{{:number}}</td>
                            <td style="width:10%;"><img src="{{:player.imagePath}}" alt="" width="24" height="24" /></td>
                            <td>{{:playerName}}</td>
                            <td>{{:position}}</td>
                            <td>
                                {{for #parent.parent.data.localTeamEvents}}

                                {{if playerId == #parent.parent.data.playerId}}
                                {{if type == "goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span>
                                {{else type == "substitution"}}
                                <span class="icon icon-xxs icon-primary fa fa-exchange" style="color:#ffa04c;"></span>
                                {{else type == "yellowcard"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span>
                                {{else type == "yellowred"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span><span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "redcard"}}
                                <span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "missed_penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> Missed P.</span>
                                {{else type == "owngoal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Own Goal</span>
                                {{else type == "penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_miss"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Missed P.</span>
                                {{/if}}
                                {{else relatedPlayerId == #parent.parent.data.playerId}}
                                {{if type == "substitution"}}
                                <span class="icon icon-xxs icon-primary fa fa-exchange" style="color:#ffa04c;"></span>
                                {{/if}}
                                {{/if}}
                                {{/for}}
                            </td>
                        </tr>
                        {{/for}}
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="5">@SharedLocalizer.GetString("Bench")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@SharedLocalizer.GetString("NumberShort")</td>
                            <td style="width:10%;"></td>
                            <td>@SharedLocalizer.GetString("PlayerNameShort")</td>
                            <td>@SharedLocalizer.GetString("PositionShort")</td>
                            <td style="width:12%;"></td>
                        </tr>
                        {{for localTeamBench }}

                        <tr>
                            <td>{{:number}}</td>
                            <td style="width:10%;"><img src="{{:player.imagePath}}" alt="" width="24" height="24" /></td>
                            <td>{{:playerName}}</td>
                            <td>{{:position}}</td>
                            <td>
                                {{for #parent.parent.data.localTeamEvents}}

                                {{if playerId == #parent.parent.data.playerId}}

                                {{if type == "goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span>
                                {{else type == "substitution"}}
                                <span class="icon icon-xxs icon-primary fa fa-exchange"></span>
                                {{else type == "yellowcard"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span>
                                {{else type == "yellowred"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span><span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "redcard"}}
                                <span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "missed_penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> Missed P.</span>
                                {{else type == "owngoal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Own Goal</span>
                                {{else type == "penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_miss"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Missed P.</span>
                                {{/if}}

                                {{/if}}
                                {{/for}}
                            </td>
                        </tr>
                        {{/for}}
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="5">@SharedLocalizer.GetString("Sidelined")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@SharedLocalizer.GetString("NumberShort")</td>
                            <td style="width:10%;"></td>
                            <td>@SharedLocalizer.GetString("PlayerNameShort")</td>
                            <td>@SharedLocalizer.GetString("PositionShort")</td>
                            <td style="width:12%;"></td>
                        </tr>
                        {{for localTeamSidelined tmpl="formationDetailTemplate"/}}
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <!-- Table Roster-->
            <div class="table-custom-responsive">
                <table class="table-custom table-roster">
                    <thead>
                        <tr>
                            <th colspan="3">{{:visitorTeam.name}}</th>
                            <th colspan="2" style="padding:0px 10px 0px 0px;">{{:visitorTeamFormation}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@SharedLocalizer.GetString("NumberShort")</td>
                            <td style="width:10%;"></td>
                            <td>@SharedLocalizer.GetString("PlayerNameShort")</td>
                            <td>@SharedLocalizer.GetString("PositionShort")</td>
                            <td style="width:12%;"></td>
                        </tr>
                        {{for visitorTeamLineup }}

                        <tr>
                            <td>{{:number}}</td>
                            <td style="width:10%;"><img src="{{:player.imagePath}}" alt="" width="24" height="24" /></td>
                            <td>{{:playerName}}</td>
                            <td>{{:position}}</td>
                            <td>
                                {{for #parent.parent.data.visitorTeamEvents}}

                                {{if playerId == #parent.parent.data.playerId}}
                                {{if type == "goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span>
                                {{else type == "substitution"}}
                                <span class="icon icon-xxs icon-primary fa fa-exchange" style="color:#ffa04c;"></span>
                                {{else type == "yellowcard"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span>
                                {{else type == "yellowred"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span><span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "redcard"}}
                                <span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "missed_penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> Missed P.</span>
                                {{else type == "owngoal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Own Goal</span>
                                {{else type == "penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_miss"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Missed P.</span>
                                {{/if}}
                                {{else relatedPlayerId == #parent.parent.data.playerId}}
                                {{if type == "substitution"}}
                                <span class="icon icon-xxs icon-primary fa fa-exchange" style="color:#ffa04c;"></span>
                                {{/if}}

                                {{/if}}
                                {{/for}}
                            </td>
                        </tr>
                        {{/for}}
                    </tbody>
                    <thead style="background-color:#ffd800">
                        <tr>
                            <th colspan="5">@SharedLocalizer.GetString("Bench")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@SharedLocalizer.GetString("NumberShort")</td>
                            <td style="width:10%;"></td>
                            <td>@SharedLocalizer.GetString("PlayerNameShort")</td>
                            <td>@SharedLocalizer.GetString("PositionShort")</td>
                            <td style="width:12%;"></td>
                        </tr>
                        {{for visitorTeamBench }}

                        <tr>
                            <td>{{:number}}</td>
                            <td style="width:10%;"><img src="{{:player.imagePath}}" alt="" width="24" height="24" /></td>
                            <td>{{:playerName}}</td>
                            <td>{{:position}}</td>
                            <td>
                                {{for #parent.parent.data.visitorTeamEvents}}

                                {{if playerId == #parent.parent.data.playerId || relatedPlayerId == #parent.parent.data.playerId}}


                                {{if type == "goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span>
                                {{else type == "substitution"}}
                                <span class="icon icon-xxs icon-primary fa fa-exchange"></span>
                                {{else type == "yellowcard"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span>
                                {{else type == "yellowred"}}
                                <span class="icon icon-xxs icon-orange fa fa-file"></span><span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "redcard"}}
                                <span class="icon icon-xxs icon-red-2 fa fa-file"></span>
                                {{else type == "missed_penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> Missed P.</span>
                                {{else type == "owngoal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Own Goal</span>
                                {{else type == "penalty"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_goal"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal"> P. Goal</span>
                                {{else type == "pen_shootout_miss"}}
                                <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span><span class="game-highlights-goal" style="color:#ff4c39;"> Missed P.</span>
                                {{/if}}
                                {{/if}}
                                {{/for}}
                            </td>
                        </tr>
                        {{/for}}
                    </tbody>
                    <thead style="background-color:#ff0000">
                        <tr>
                            <th colspan="5">@SharedLocalizer.GetString("Sidelined")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@SharedLocalizer.GetString("NumberShort")</td>
                            <td style="width:10%;"></td>
                            <td>@SharedLocalizer.GetString("PlayerNameShort")</td>
                            <td>@SharedLocalizer.GetString("PositionShort")</td>
                            <td style="width:12%;"></td>
                        </tr>
                        {{for visitorTeamSidelined tmpl="formationDetailTemplate"/}}
                    </tbody>
                </table>
            </div>
        </div>

    </script>
    <script id="formationDetailTemplate" type="text/x-jsrender">
        <tr>
            <td>{{:number}}</td>
            <td style="width:10%;"><img src="{{:player.imagePath}}" alt="" width="24" height="24" /></td>
            <td>{{:playerName}}</td>
            <td>{{:position}}</td>
            <td></td>
        </tr>
    </script>
    <script id="fixtureOddsTemplate" type="text/x-jsrender">
        {{if markets != null}}
        {{for markets}}
        {{for bookmarkers ~marketName=name}}

        @*<article class="game-result" style="border:none;">*@
            <div class="table-game-info-wrap" style="max-width:none;">
                <span class="table-game-info-title">{{:~marketName}}<span></span></span>
                <div class="table-game-info-main table-custom-responsive" style="padding:12px 10px 12px 10px;">
                    <table class="table-custom table-game-info" style="font-size:12px; border-spacing: 0px 1px;">
                        <tbody>
                            <tr>
                                <td class="table-game-info-category" style="min-width:50px; width:25%; font-size:1.0em; color:#353535; background-color:#f3c73b;">@SharedLocalizer.GetString("OddsType")</td>
                                <td class="table-game-info-number" style="min-width:50px; color:#353535; font-size:1.0em; background-color:#f3c73b;">@SharedLocalizer.GetString("Odds")</td>
                                <td class="table-game-info-number" title="@SharedLocalizer.GetString("WinDesc")" style="min-width:50px; color:#353535; font-size:1.0em; background-color:#f3c73b;">@SharedLocalizer.GetString("Win")</td>
                                <td class="table-game-info-number" title="@SharedLocalizer.GetString("LostDesc")" style="min-width:50px; color:#353535; font-size:1.0em; background-color:#f3c73b;">@SharedLocalizer.GetString("Lost")</td>
                                <td class="table-game-info-number" title="@SharedLocalizer.GetString("WinPercDesc")" style="min-width:50px; color:#353535; font-size:1.0em; background-color:#f3c73b;">@SharedLocalizer.GetString("Win")</td>
                                <td class="table-game-info-number" title="@SharedLocalizer.GetString("ProfitDesc")" style="min-width:50px; color:#353535; font-size:1.0em; background-color:#f3c73b;">@SharedLocalizer.GetString("Profit")</td>
                                <td class="table-game-info-number" title="@SharedLocalizer.GetString("ProbDesc")" style="min-width:50px; color:#353535; font-size:1.0em; background-color:#f3c73b;">@SharedLocalizer.GetString("Prob")</td>
                            </tr>
                            {{if odd != null onError="No Odds"}}
                            {{for odd ~periodId=#parent.parent.data.selectedAnalysisTypeId}}
                            <tr>
                                <td class="table-game-info-category" style="min-width:50px; width:25%; font-size:1.1em; color:#353535;width:unset;"><span style="color:#64b000; font-size:1.0em;"> {{:oddLabel}} {{if oddHandicap != null && oddHandicap != ""}} ({{:oddHandicap}}) {{/if}} {{if oddTotal != null && oddTotal != ""}} ({{:oddTotal}}) {{/if}}</span></td>
                                {{if oddWinning == true}}
                                <td class="table-game-info-number" style="min-width:50px; color:#fff; font-size:1.0em;  background:#35363c;">{{:oddValue}}</td>
                                {{else oddWinning == false}}
                                <td class="table-game-info-number" style="min-width:50px; color:#fff; font-size:1.0em;  background:#35363c;">{{:oddValue}}</td>
                                {{else}}
                                <td class="table-game-info-number" style="min-width:50px; color:#fff; font-size:1.0em;  background:#35363c;">{{:oddValue}}</td>
                                {{/if}}
                                {{for oddAnalysis}}
                                {{if #index == ~periodId}}
                                <td class="table-game-info-number" style="min-width:50px; color:#353535; font-size:1.2em; background:none;">{{:winCount}}</td>
                                <td class="table-game-info-number" style="min-width:50px; color:#353535; font-size:1.2em; background:none;">{{:lostCount}}</td>
                                <td class="table-game-info-number" style="min-width:50px; color:#ff4f2e; font-size:1.2em; background:none;">%{{:winningPercent}}</td>
                                <td class="table-game-info-number" style="min-width:50px; color:#63af00; font-size:1.2em; background:none;">%{{:earningPercent}}</td>
                                <td class="table-game-info-number" style="min-width:50px; color:#3B7CC0; font-size:1.2em; background:none;">%{{:oddGroupPercent}}</td>
                                {{/if}}
                                {{/for}}
                            </tr>
                            {{/for}}
                             {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        @*</article>*@
        {{/for}}
        {{/for}}
        {{else}}
        @SharedLocalizer.GetString("NoData")
        {{/if}}
    </script>
    <script id="fixtureOddsAnalysisTemplate" type="text/x-jsrender">

    </script>

    <script id="commentTemplate" type="text/x-jsrender">
        {{if comment.lenght > 0}}
        <div class="col-md-6 col-lg-12" style="margin-bottom:25px;">
            <article class="heading-component">
                <div class="heading-component-inner">
                    <h5 class="heading-component-title">
                        Descriptions
                    </h5>@*<a class="button button-xs button-gray-outline" href="standings.html">Full Standings</a>*@
                </div>
            </article>
            <div class="game-highlights" style="overflow-y:scroll; height:365px;">
                <ul class="game-highlights-list">
                    {{for comment}}
                    <li>
                        <p class="game-highlights-title">
                            {{if goal == 1}}
                            <span class="icon icon-xxs icon-blue-boston fa fa-futbol-o"></span>
                            <span class="game-highlights-goal">Goal</span>
                            {{else text.split('-')[0].trim() == "Offside"}}
                                <span class="icon icon-xxs icon-red-2 fa fa-flag"></span>
                            <span class="game-highlights-goal">Offside</span>
                                {{else text.split('-')[0].trim() == "Corner"}}
                                <span class="icon icon-xxs icon-primary fa fa-flag"></span>
                            <span class="game-highlights-goal">Corner</span>
                                {{else text.split('-')[0].trim() == "Substitution"}}
                                <span class="icon icon-xxs icon-primary fa fa-exchange"></span>
                            <span class="game-highlights-goal">Substitution</span>
                            {{/if}}
                        </p>
                        <p class="game-highlights-description">
                            {{:text}}
                        </p>
                        <span class="game-highlights-minute">{{:minute}}’</span>
                    </li>
                    {{/for}}
                </ul>
            </div>
        </div>
        {{/if}}
    </script>
    <script src="/lib/views/fixture/fixtureDetail.min.js" type="text/javascript" charset="utf-8"></script>
}
