@model PreOddsApi.WebUI.Models.League.Models.LeagueDetailBaseViewModel
@using PreOddsApi.WebUI.Helper;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@* <section class="section section-sm bg-gray-100" style="padding:0px 0px 10px 0px;">
    <div class="container">
        <div style="text-align:center; margin-bottom:10px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
</section> *@

<section class="section section-sm bg-gray-100">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-7 col-xl-8">
                <div class="row row-50">
                    <div class="col-12">
                        <!-- Heading Component-->
                        <article class="heading-component">
                            <div class="heading-component-inner">
                                <h5 class="heading-component-title">
                                    <img src="@Model.Country.Logo" alt="" width="24" height="24" /> @Model.Country.Name
                                </h5>
                                <span style="float:right;">  <img src="@Model.Logo" alt="" width="24" height="24" /> @Model.Name</span>
                            </div>
                        </article>
                        <article class="heading-component" style="margin-top:5px; border:none;">
                            <div class="heading-component-inner">
                                <h5 class="heading-component-title">
                                    @foreach (var season in Model.Seasons)
                                    {
                                        @if (season.CurrentSeason)
                                        {
                                            <input type="hidden" id="leagueId" value="@season.LeagueId" />
                                        }
                                    }
                                </h5>
                                <div class="heading-component-aside" id="divSeasonSelect">
                                    <ul class="list-inline list-inline-xs list-inline-middle">
                                        <li>
                                            <select id="selectSeasonId" class="select select-minimal" data-placeholder="Select an option" data-dropdown-class="select-minimal-dropdown">
                                                @foreach (var season in Model.Seasons)
                                                {
                                                    @if (season.CurrentSeason)
                                                    {
                                                        <option value="@season.Id" selected="selected">@season.Name</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@season.Id">@season.Name</option>
                                                    }
                                                }
                                            </select>
                                        </li>
                                        <li>
                                            <select id="selectStageId" class="select select-minimal" data-placeholder="Select an option" data-dropdown-class="select-minimal-dropdown" style="min-width: 170px;">
                                                @foreach (var season in Model.Seasons)
            {
                                                    @if (season.CurrentSeason)
                {
                                                        @foreach (var stage in season.Stages)
                    {
                                                            @if (stage.Id == season.CurrentStageId)
                        {
                                                                <option value="@(stage.Id +"_"+stage.GroupId)" selected="selected">@stage.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@(stage.Id +"_"+stage.GroupId)">@stage.Name</option>
                                                            }
                                                        }
                                                    }
                                                }
                                            </select>
                                        </li>
                                        <li>
                                            <select id="selectRoundId" class="select select-minimal" data-placeholder="Select an option" data-dropdown-class="select-minimal-dropdown">
                                                @foreach (var season in Model.Seasons)
                                                {
                                                    @if (season.CurrentSeason)
                                                    {
                                                        @foreach (var stage in season.Stages)
                                                        {
                                                            if (stage.Id == season.CurrentStageId)
                                                            {
                                                                @*@if (stage.Rounds.Count > 1)
                                                                    {*@
                                                                @foreach (var round in stage.Rounds)
                                                                {
                                                                    if (round.Id == season.CurrentRoundId)
                                                                    {
                                                                        <option value="@round.Id" selected="selected">@round.Name</option>
                                                                    }
                                                                    else
                                                                    {
                                                                        <option value="@round.Id">@round.Name</option>
                                                                    }
                                                                }

                                                                //}
                                                            }
                                                        }
                                                    }
                                                }

                                            </select>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </article>
                        <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-shortcodes" style="border:none;">
                            <ul class="nav nav-tabs">
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link active" href="#tabs-fixture" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("FixtureOfRound")</a></li>
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-standings" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("Standings")</a></li>
                                <li class="nav-item" role="presentation" style="border-top:1px solid #e1e1e1;"><a class="nav-link" href="#tabs-topscorer" data-toggle="tab" style="padding:7px; min-width:100px;">@SharedLocalizer.GetString("TopScorer")</a></li>
                            </ul>
                            <div class="tab-content" style="padding:0px;">
                                <div class="tab-pane fade active show" id="tabs-fixture">
                                    <article class="game-result" style="border:none;">
                                        <div class="table-game-info-wrap" style="max-width:none;">
                                            <div class="row row-50">
                                                <div class="col-lg-12">
                                                    <!-- Match info-->
                                                    <div class="match-table-wrap">
                                                        <div class="match-table">
                                                            <div class="match-table-header">
                                                                <div class="match-table-tr">
                                                                    <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("HomeTeam")</span></div>
                                                                    <div class="match-table-td" style="width: 20%; text-align:center;">@SharedLocalizer.GetString("Score")</div>
                                                                    <div class="match-table-td" style="width: 40%;"><span>@SharedLocalizer.GetString("AwayTeam")</span></div>
                                                                </div>
                                                            </div>
                                                            <div class="text-center" id="divLoading" style="display: none; padding-top:25px;">
                                                                <img src="/images/loading.gif" alt="loading" style="width: 25px;" />
                                                                <p class="game-info-subtitle" style="font-size:1.2em;">
                                                                    @SharedLocalizer.GetString("LoadingMatches")
                                                                </p>
                                                            </div>
                                                            <div class="match-table-body" id="divHomeTeamForms">

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="tab-pane fade" id="tabs-standings">
                                    <article class="game-result" style="border:none;">
                                        <div class="table-game-info-wrap" style="max-width:none;">
                                            <div class="card-standing card-group-custom card-standing-index" id="divStanding" role="tablist" aria-multiselectable="false">
                                                
                                                @if (Model != null && Model.LeagueStanding != null && Model.LeagueStanding.Count > 0)
                                                {
                                                <div class="card-standing-caption">
                                                    <div class="card-standing-position">@SharedLocalizer.GetString("Pos")</div>
                                                    <div class="card-standing-caption-aside">
                                                        <div class="card-standing-team">@SharedLocalizer.GetString("Team")</div>
                                                        <div class="card-standing-number">@SharedLocalizer.GetString("Mp")</div>
                                                        <div class="card-standing-number">@SharedLocalizer.GetString("WinShort")</div>
                                                        <div class="card-standing-number">@SharedLocalizer.GetString("DrawShort")</div>
                                                        <div class="card-standing-number">@SharedLocalizer.GetString("LostShort")</div>
                                                        <div class="card-standing-number">@SharedLocalizer.GetString("GoalScoreShort")</div>
                                                        <div class="card-standing-number">@SharedLocalizer.GetString("GoalAgainstShort")</div>
                                                        <div class="card-standing-points">@SharedLocalizer.GetString("PointShort")</div>
                                                        <div class="card-standing-diff">@SharedLocalizer.GetString("Average")</div>
                                                        <div class="card-standing-button" style="min-width: 42px;"></div>
                                                    </div>
                                                </div>
                                                @foreach (var standing in Model.LeagueStanding)
                                                    {
                                                <article class="card card-custom">
                                                    <div class="card-standing-position card-standing-counter"></div>
                                                    <div class="card-header" id="AH_@standing.StandingsPositon" role="tab">
                                                        <div class="card-standing-team-item">
                                                            <div class="card-standing-team">
                                                                <div class="card-standing-team-figure">
                                                                    <img src="@standing.Team.LogoPath" alt="" width="37" height="37" />
                                                                </div>
                                                                <div class="card-standing-team-title">
                                                                    <div class="card-standing-team-name">@standing.Team.Name.ToUpper()</div>
                                                                    <div class="card-standing-team-country">@standing.StandingsRecentForm</div>
                                                                </div>
                                                            </div>
                                                            <div class="card-standing-number">@standing.StandingsOverallGamesPlayed</div>
                                                            <div class="card-standing-number">@standing.StandingsOverallWon</div>
                                                            <div class="card-standing-number">@standing.StandingsOverallDraw</div>
                                                            <div class="card-standing-number">@standing.StandingsOverallLost</div>
                                                            <div class="card-standing-number">@standing.StandingsOverallGoalsScored</div>
                                                            <div class="card-standing-number">@standing.StandingsOverallGoalsAgainst</div>
                                                            <div class="card-standing-points">@standing.StandingsTotalPoints</div>
                                                            <div class="card-standing-diff">@standing.StandingsTotalGoalDifference</div>
                                                            <div class="card-standing-button"><a class="card-standing-toogle material-icons-remove collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#AC_@standing.StandingsPositon" aria-controls="AC_@standing.StandingsPositon"></a></div>
                                                        </div>
                                                    </div>
                                                    <div class="collapse" id="AC_@standing.StandingsPositon" role="tabpanel" aria-labelledby="AH_@standing.StandingsPositon">
                                                        <div class="card-body">
                                                            <div class="card-standing-team-details">
                                                                <div class="card-standing-team">@SharedLocalizer.GetString("Home")</div>
                                                                <div class="card-standing-number">@standing.StandingsHomeGamesPlayed</div>
                                                                <div class="card-standing-number">@standing.StandingsHomeWon</div>
                                                                <div class="card-standing-number">@standing.StandingsHomeDraw</div>
                                                                <div class="card-standing-number">@standing.StandingsHomeLost</div>
                                                                <div class="card-standing-number">@standing.StandingsHomeGoalsScored</div>
                                                                <div class="card-standing-number">@standing.StandingsHomeGoalsAgainst</div>
                                                                <div class="card-standing-points"></div>
                                                                <div class="card-standing-diff">@(standing.StandingsHomeGoalsScored - standing.StandingsHomeGoalsAgainst)</div>
                                                                <div class="card-standing-button" style="min-width:42px;">&nbsp;</div>
                                                            </div>
                                                            <div class="card-standing-divider"></div>
                                                            <div class="card-standing-team-details">
                                                                <div class="card-standing-team">@SharedLocalizer.GetString("Away")</div>
                                                                <div class="card-standing-number">@standing.StandingsAwayGamesPlayed</div>
                                                                <div class="card-standing-number">@standing.StandingsAwayWon</div>
                                                                <div class="card-standing-number">@standing.StandingsAwayDraw</div>
                                                                <div class="card-standing-number">@standing.StandingsAwayLost</div>
                                                                <div class="card-standing-number">@standing.StandingsAwayGoalsScored</div>
                                                                <div class="card-standing-number">@standing.StandingsAwayGoalsAgainst</div>
                                                                <div class="card-standing-points"></div>
                                                                <div class="card-standing-diff">@(standing.StandingsAwayGoalsScored - standing.StandingsAwayGoalsAgainst)</div>
                                                                <div class="card-standing-button" style="min-width:42px;">&nbsp;</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </article>
                                                    }
                            <!-- Bootstrap card-->
                            <!-- Bootstrap card-->
                                                }
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="tab-pane fade" id="tabs-topscorer">
                                    <article class="game-result" style="border:none;">
                                        <div class="table-game-info-wrap" style="max-width:none;">
                                            <div class="col-md-11 col-lg-10 col-xl-12" style="padding:0px;">
                                                @*<article class="heading-component">
                                                        <div class="heading-component-inner">
                                                            <h5 class="heading-component-title">
                                                                @SharedLocalizer.GetString("TopScorer")
                                                            </h5>
                                                        </div>
                                                    </article>*@
                                                <!-- Bootstrap tabs-->
                                                <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-shortcodes">
                                                    <!-- Nav tabs-->
                                                    <ul class="nav nav-tabs">
                                                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#tabs-shortcodes-1" data-toggle="tab">@SharedLocalizer.GetString("GoalScorers")</a></li>
                                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-shortcodes-2" data-toggle="tab">@SharedLocalizer.GetString("AssistsScorers")</a></li>
                                                        <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-shortcodes-3" data-toggle="tab">@SharedLocalizer.GetString("CardScorers")</a></li>

                                                    </ul>
                                                    <!-- Tab panes-->
                                                    <div class="tab-content" style="padding:0px;">
                                                        <div class="tab-pane fade active show" id="tabs-shortcodes-1">
                                                            <div class="table-custom-responsive">
                                                                <table class="table-custom table-standings table-classic">
                                                                    <thead>
                                                                        <tr>
                                                                            <th colspan="2">@SharedLocalizer.GetString("Position")</th>
                                                                            <th>@SharedLocalizer.GetString("Goal")</th>
                                                                            <th>@SharedLocalizer.GetString("PenGoal")</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbodyGoalScorer">
                                                                        @if(Model != null && Model.TopScorers != null){
                                                                        @foreach (var goalScorer in Model.TopScorers.GoalScorer)
                                                                        {
                                                                        <tr>
                                                                            <td><span>@goalScorer.Position</span></td>
                                                                            <td class="team-inline">
                                                                                <div class="team-figure">
                                                                                    <img src="@goalScorer.Player.ImagePath" alt="" width="37" height="37">
                                                                                </div>
                                                                                <div class="team-title">
                                                                                    <div class="team-name">@goalScorer.Player.FullName</div>
                                                                                    <div class="team-country">@goalScorer.Team.Name</div>
                                                                                </div>
                                                                            </td>
                                                                            <td>@goalScorer.Goals</td>
                                                                            <td>@goalScorer.PenaltyGoals</td>
                                                                        </tr>
                                                                        }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="tabs-shortcodes-2">
                                                            <div class="table-custom-responsive">
                                                                <table class="table-custom table-standings table-classic">
                                                                    <thead>
                                                                        <tr>
                                                                            <th colspan="2">@SharedLocalizer.GetString("Position")</th>
                                                                            <th>@SharedLocalizer.GetString("Assists")</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbodyAssistsScorer">
                                                                        @if(Model != null && Model.TopScorers != null){
                                                                        @foreach (var assistsScorer in Model.TopScorers.AssistsScorer)
                                                                        {
                                                                        <tr>
                                                                            <td><span>@assistsScorer.Position</span></td>
                                                                            <td class="team-inline">
                                                                                <div class="team-figure">
                                                                                    <img src="@assistsScorer.Player.ImagePath" alt="" width="37" height="37">
                                                                                </div>
                                                                                <div class="team-title">
                                                                                    <div class="team-name">@assistsScorer.Player.FullName</div>
                                                                                    <div class="team-country">@assistsScorer.Team.Name</div>
                                                                                </div>
                                                                            </td>
                                                                            <td>@assistsScorer.Assists</td>
                                                                        </tr>
                                                                        }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                        <div class="tab-pane fade" id="tabs-shortcodes-3">
                                                            <div class="table-custom-responsive">
                                                                <table class="table-custom table-standings table-classic">
                                                                    <thead>
                                                                        <tr>
                                                                            <th colspan="2">@SharedLocalizer.GetString("Position")</th>
                                                                            <th>@SharedLocalizer.GetString("YellowCards")</th>
                                                                            <th>@SharedLocalizer.GetString("RedCards")</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody id="tbodyCardScorer">
                                                                        @if(Model != null && Model.TopScorers != null){
                                                                        @foreach (var cardScorer in Model.TopScorers.CardScorer)
                                                                        {
                                                                        <tr>
                                                                            <td><span>@cardScorer.Position</span></td>
                                                                            <td class="team-inline">
                                                                                <div class="team-figure">
                                                                                    <img src="@cardScorer.Player.ImagePath" alt="" width="37" height="37">
                                                                                </div>
                                                                                <div class="team-title">
                                                                                    <div class="team-name">@cardScorer.Player.FullName</div>
                                                                                    <div class="team-country">@cardScorer.Team.Name</div>
                                                                                </div>
                                                                            </td>
                                                                            <td>@cardScorer.Yellowcards</td>
                                                                            <td>@cardScorer.Redcards</td>
                                                                        </tr>
                                                                        }
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>

                    </div>
                    @if (Model.SeasonStats != null)
                    {
                        <div class="col-md-6 col-lg-6">
                            <div class="player-info-corporate player-info-other-team">
                                <div class="player-info-main">
                                    <h5 class="player-info-title" style="font-size:1.1em;">@SharedLocalizer.GetString("TeamWithMostGoals")</h5>
                                    <p class="player-info-subtitle">@Model.Name </p>
                                    <hr>
                                    <div class="player-info-table">
                                        <div class="table-custom-wrap">
                                            <table class="table-custom">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="game-info-team game-info-team-second" style="width:100%;">
                                                                <figure>
                                                                    <img src="@Model.SeasonStats.TeamWithMostGoals.LogoPath" alt="" width="100" height="100">
                                                                </figure>
                                                                <div class="game-result-team-name" style="font-size:1.2em;">@Model.SeasonStats.TeamWithMostGoals.Name</div>
                                                                <div class="game-result-team-country" style="font-size:1.0em;">@Model.SeasonStats.TeamWithMostGoals.ShortCode</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="player-info-corporate player-info-other-team">

                                <div class="player-info-main">
                                    <h5 class="player-info-title" style="font-size:1.1em;">@SharedLocalizer.GetString("TeamWithMostConcededGoals")</h5>
                                    <p class="player-info-subtitle">@Model.Name </p>
                                    <hr>
                                    <div class="player-info-table">
                                        <div class="table-custom-wrap">
                                            <table class="table-custom">
                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            <div class="game-info-team game-info-team-second" style="width:100%;">
                                                                <figure>
                                                                    <img src="@Model.SeasonStats.TeamWithMostConcededGoals.LogoPath" alt="" width="100" height="100">
                                                                </figure>
                                                                <div class="game-result-team-name" style="font-size:1.2em;">@Model.SeasonStats.TeamWithMostConcededGoals.Name</div>
                                                                <div class="game-result-team-country" style="font-size:1.0em;">@Model.SeasonStats.TeamWithMostConcededGoals.ShortCode</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="player-info-corporate player-info-other-team">

                                <div class="player-info-main">
                                    <h5 class="player-info-title" style="font-size:1.1em;">@SharedLocalizer.GetString("TeamWithMostGoalsPerMatch")</h5>
                                    <p class="player-info-subtitle">@Model.Name </p>
                                    <hr>
                                    <div class="player-info-table">
                                        <div class="table-custom-wrap">
                                            <table class="table-custom">
                                                <tbody>

                                                    <tr>
                                                        <td>
                                                            <div class="game-info-team game-info-team-second" style="width:100%;">
                                                                <figure>
                                                                    <img src="@Model.SeasonStats.TeamWithMostGoalsPerMatch.LogoPath" alt="" width="100" height="100">
                                                                </figure>
                                                                <div class="game-result-team-name" style="font-size:1.2em;">@Model.SeasonStats.TeamWithMostGoalsPerMatch.Name</div>
                                                                <div class="game-result-team-country" style="font-size:1.0em;">@Model.SeasonStats.TeamWithMostGoalsPerMatch.ShortCode</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="player-info-corporate player-info-other-team">

                                <div class="player-info-main">
                                    <h5 class="player-info-title" style="font-size:1.1em;">@SharedLocalizer.GetString("TeamMostCleansheets")</h5>
                                    <p class="player-info-subtitle">@Model.Name </p>
                                    <hr>
                                    <div class="player-info-table">
                                        <div class="table-custom-wrap">
                                            <table class="table-custom">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="game-info-team game-info-team-second" style="width:100%;">
                                                                <figure>
                                                                    <img src="@Model.SeasonStats.TeamMostCleansheets.LogoPath" alt="" width="100" height="100">
                                                                </figure>
                                                                <div class="game-result-team-name" style="font-size:1.2em;">@Model.SeasonStats.TeamMostCleansheets.Name</div>
                                                                <div class="game-result-team-country" style="font-size:1.0em;">@Model.SeasonStats.TeamMostCleansheets.ShortCode</div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-5 col-xl-4">
                <div class="block-aside-item">
                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">
                                @SharedLocalizer.GetString("FollowUs")
                            </h5>
                        </div>
                    </article>

                    <!-- Buttons Media-->
                    <div class="group-sm group-flex">
                        <a class="button-media button-media-facebook" href="https://www.facebook.com/preodds">
                            <p class="button-media-action">@SharedLocalizer.GetString("Follow")<span class="icon material-icons-add_circle_outline icon-sm"></span></p><span class="button-media-icon fa-facebook"></span>
                        </a>
                        <a class="button-media button-media-twitter" href="https://twitter.com/preodds">
                            <p class="button-media-action">@SharedLocalizer.GetString("Follow")<span class="icon material-icons-add_circle_outline icon-sm"></span></p><span class="button-media-icon fa-twitter"></span>
                        </a>
                        <a class="button-media button-media-instagram" href="https://www.instagram.com/preodds">
                            <p class="button-media-action">@SharedLocalizer.GetString("Follow")<span class="icon material-icons-add_circle_outline icon-sm"></span></p><span class="button-media-icon fa-instagram"></span>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-12">
                    <div style="text-align:center; margin-bottom:10px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
                        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                    </div>
                </div>
                @if (Model.SeasonStats != null)
                {
                    <div class="col-md-6 col-lg-12" style="padding:10px 0px 0px 0px;">
                        <div class="player-info-corporate player-info-other-team">
                            <div class="player-info-main">
                                <h4 class="player-info-title">@SharedLocalizer.GetString("leagueStatistics")</h4>
                                <p class="player-info-subtitle"><img src="@Model.Logo" alt="" width="24" height="24" /> @Model.Name </p>
                                <hr>
                                <div class="player-info-table">
                                    <div class="table-custom-wrap">
                                        <table class="table-custom">
                                            <tbody style="font-size:14px;">
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("NumberOfClubs")</td>
                                                    <td>@Model.SeasonStats.NumberOfClubs</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("NumberOfMatches")</td>
                                                    <td>@Model.SeasonStats.NumberOfMatches</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("NumberOfMatchesPlayed")</td>
                                                    <td>@Model.SeasonStats.NumberOfMatchesPlayed</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>
                                <div class="player-info-table">
                                    <div class="table-custom-wrap">
                                        <table class="table-custom">
                                            <tbody style="font-size:14px;">
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("NumberOfGoals")</td>
                                                    <td>@Model.SeasonStats.NumberOfGoals</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("AvgGoalsPerMatch")</td>
                                                    <td>@Model.SeasonStats.AvgGoalsPerMatch</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("MatchesBothTeamsScored")</td>
                                                    <td>@Model.SeasonStats.MatchesBothTeamsScored</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <hr>
                                <div class="player-info-table">
                                    <div class="table-custom-wrap">
                                        <table class="table-custom">
                                            <tbody style="font-size:14px;">
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("NumberOfYellowcards")</td>
                                                    <td>@Model.SeasonStats.NumberOfYellowcards</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("NumberOfYellowredcards")</td>
                                                    <td>@Model.SeasonStats.NumberOfYellowredcards</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("NumberOfRedcards")</td>
                                                    <td>@Model.SeasonStats.NumberOfRedcards</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <hr>
                                <div class="player-info-table">
                                    <div class="table-custom-wrap">
                                        <table class="table-custom">
                                            <tbody style="font-size:14px;">
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("AvgYellowcardsPerMatch")</td>
                                                    <td>@Model.SeasonStats.AvgYellowcardsPerMatch</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("AvgYellowredcardsPerMatch")</td>
                                                    <td>@Model.SeasonStats.AvgYellowredcardsPerMatch</td>
                                                </tr>
                                                <tr>
                                                    <td>@SharedLocalizer.GetString("AvgRedcardsPerMatch")</td>
                                                    <td>@Model.SeasonStats.AvgRedcardsPerMatch</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @*<hr>
                                    <div class="player-info-table">
                                        <div class="table-custom-wrap">
                                            <table class="table-custom">
                                                <tbody>
                                                    <tr>
                                                        <td>@SharedLocalizer.GetString("SeasonTopscorer")</td>
                                                        <td>@Model.SeasonStats.SeasonTopscorer.CommonName</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@SharedLocalizer.GetString("SeasonAssistTopscorer")</td>
                                                        <td>@Model.SeasonStats.SeasonAssistTopscorer.CommonName</td>
                                                    </tr>
                                                    <tr>
                                                        <td>@SharedLocalizer.GetString("GoalkeeperMostCleansheets")</td>
                                                        <td>@Model.SeasonStats.GoalkeeperMostCleansheets.CommonName</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                    <article class="game-result">
                        <div class="game-info game-info-classic">
                            <h5 class="game-info-title">@SharedLocalizer.GetString("GoalsScoredMinutes")</h5>
                            <div class="progress-bar-main progress-bar-rotate-90">
                                <div class="progress-bar-team progress-bar-team-first progress-bar-primary" style="max-width:100%;">
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar-js progress-bar-radial" data-value="@Model.SeasonStats.GoalsScoredMinutes0" data-stroke="3" data-trail="3" data-gradient="#000000"></div>
                                        <p class="progress-bar-title">0 - 15</p>
                                    </div>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar-js progress-bar-radial" data-value="@Model.SeasonStats.GoalsScoredMinutes15" data-stroke="3" data-trail="3" data-gradient="#000000"></div>
                                        <p class="progress-bar-title">15 - 30</p>
                                    </div>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar-js progress-bar-radial" data-value="@Model.SeasonStats.GoalsScoredMinutes30" data-stroke="3" data-trail="3" data-gradient="#000000"></div>
                                        <p class="progress-bar-title">30 - 45</p>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-bar-main progress-bar-rotate-90">
                                <div class="progress-bar-team progress-bar-team-second team2-red" style="max-width:100%;">
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar-js progress-bar-radial" data-value="@Model.SeasonStats.GoalsScoredMinutes45" data-stroke="3" data-trail="3" data-gradient="#000000"></div>
                                        <p class="progress-bar-title">45 - 60</p>
                                    </div>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar-js progress-bar-radial" data-value="@Model.SeasonStats.GoalsScoredMinutes60" data-stroke="3" data-trail="3" data-gradient="#000000"></div>
                                        <p class="progress-bar-title">60 - 75</p>
                                    </div>
                                    <div class="progress-bar-wrap">
                                        <div class="progress-bar-js progress-bar-radial" data-value="@Model.SeasonStats.GoalsScoredMinutes75" data-stroke="3" data-trail="3" data-gradient="#000000"></div>
                                        <p class="progress-bar-title">75 - 90</p>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <hr />
                            <br />
                            <h6 class="game-info-title">@SharedLocalizer.GetString("GoalScoredEveryMinutes"): @Model.SeasonStats.GoalScoredEveryMinutes</h6>
                        </div>
                    </article>
                }
                <!-- Heading Component-->
                <div class="row row-50" style="padding-bottom:30px;">
                    <div class="col-12">
                        <!-- Heading Component-->
                        <article class="heading-component">
                            <div class="heading-component-inner">
                                <h5 class="heading-component-title">
                                    @SharedLocalizer.GetString("GlossaryTerms")
                                </h5>
                            </div>
                        </article>
                        <div class="game-glossary">
                            <div class="game-glossary-wrap row-10">
                                <div class="game-glossary-column col-lg-6">
                                    <table class="game-glossary-terms">
                                        <tr>
                                            <td>@SharedLocalizer.GetString("WinShort"):</td>
                                            <td>@SharedLocalizer.GetString("WinText")</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer.GetString("DrawShort"):</td>
                                            <td>@SharedLocalizer.GetString("Draw")</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer.GetString("LostShort"):</td>
                                            <td>@SharedLocalizer.GetString("LostText")</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer.GetString("PointShort"):</td>
                                            <td>@SharedLocalizer.GetString("Point")</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="game-glossary-column col-lg-6">
                                    <table class="game-glossary-terms">
                                        <tr>
                                            <td>@SharedLocalizer.GetString("GoalScoreShort"):</td>
                                            <td>@SharedLocalizer.GetString("GoalScore")</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer.GetString("GoalAgainstShort"):</td>
                                            <td>@SharedLocalizer.GetString("GoalAgainst")</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer.GetString("TotalMatchShort"):</td>
                                            <td>@SharedLocalizer.GetString("TotalMatch")</td>
                                        </tr>
                                        <tr>
                                            <td>@SharedLocalizer.GetString("DIFFShort"):</td>
                                            <td>@SharedLocalizer.GetString("DIFF")</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="/vendor/jsrender/jsrender.min.js"></script>
    <script id="seasonTemplate" type="text/x-jsrender">
        <ul class="list-inline list-inline-xs list-inline-middle">
            @*<li>
                <select id="selectSeasonId" class="select select-minimal" onchange="" data-placeholder="Select an option" data-dropdown-class="select-minimal-dropdown">
                {{for leagueDetail.seasons }}
                <option value="{{:id}}" {{if currentSeason}} selected="" {{/if}}>{{:name}}</option>
                {{/for}}
                </select>
                </li>*@
            <li>
                <select id="selectStageId" class="select select-minimal" onchange="renderSeasonList()" data-placeholder="Select an option" data-dropdown-class="select-minimal-dropdown" style="min-width: 170px;">
                    {{for seasons }}
                    {{if currentSeason}}
                    {{for stages ~currentStageId=currentStageId}}
                    <option value="{{:id}}_{{:groupId}}" {{if currentStageId == id}} selected="" {{/if}}>{{:name}}</option>
                    {{/for}}
                    {{/if}}
                    {{/for}}
                </select>
            </li>

            {{for seasons}}
            {{if currentSeason}}
            {{for stages ~currentStageId=currentStageId}}
            {{if currentStageId == id}}
            {{if rounds.count > 1}}
            <li>
                <select id="selectRoundId" class="select select-minimal" data-placeholder="Select an option" data-dropdown-class="select-minimal-dropdown">
                    {{for rounds ~currentRoundId=#parent.parent.data.currentRoundId}}
                    <option value="{{:id}}" {{if currentRoundId == id}} selected="" {{/if}}>{{:name}}</option>
                    {{/for}}
                </select>
            </li>
            {{/if}}
            {{/if}}
            {{/for}}
            {{/if}}
            {{/for}}

        </ul>
    </script>

    <script id="selectSeasonTemplate" type="text/x-jsrender">
        <option value="{{:id}}" selected="">{{:name}}</option>
    </script>

    <script id="selectStageTemplate" type="text/x-jsrender">
        {{if id == currentStageId}}
        <option value="{{:id}}_{{:groupId}}" selected="selected">{{:name}}</option>
        {{else}}
        <option value="{{:id}}_{{:groupId}}">{{:name}}</option>
        {{/if}}
    </script>

    <script id="selectRoundTemplate" type="text/x-jsrender">
        {{if id == currentRoundId}}
        <option value="{{:id}}" selected="selected">{{:name}}</option>
        {{else}}
        <option value="{{:id}}">{{:name}}</option>
        {{/if}}
    </script>

    <script id="roundTemplate" type="text/x-jsrender">
        {{for fixture tmpl="roundFixturesTemplate"/}}
    </script>

    <script id="roundFixturesTemplate" type="text/x-jsrender">
        <!-- Game Result Classic-->

        <article class="game-result game-result-classic">
            <div class="game-result-main" style="padding-bottom:10px;">
                <div class="game-result-team game-result-team-first">
                    <figure class="game-result-team-figure game-result-team-figure-big">
                        <img src="{{:localTeam.logoPath}}" alt="" width="55" height="55" />
                    </figure>
                </div>
                <a href="/fixtureDetail/{{:id}}" target="_blank">
                    <div class="game-result-middle">
                        {{if ftScore != null}}
                        <div class="game-result-score-wrap">

                            {{if localTeamScore > visitorTeamScore}}
                            <div class="game-result-score game-result-team-win">
                                {{:localTeamScore}}
                                <span class="game-result-team-label game-result-team-label-top">Win</span>
                            </div>

                            {{else}}
                            <div class="game-result-score">
                                {{:localTeamScore}}
                            </div>
                            {{/if}}
                            <div class="game-result-score-divider">
                                <svg x="0px" y="0px" width="7px" height="21px" viewbox="0 0 7 21" enable-background="new 0 0 7 21" xml:space="preserve">
                                <g>
                                <circle cx="3.5" cy="3.5" r="3"></circle>
                                <path d="M3.5,1C4.879,1,6,2.122,6,3.5S4.879,6,3.5,6S1,4.878,1,3.5S2.122,1,3.5,1 M3.5,0C1.567,0,0,1.567,0,3.5S1.567,7,3.5,7      S7,5.433,7,3.5S5.433,0,3.5,0L3.5,0z"></path>
                          </g>
                                <g>
                                <circle cx="3.695" cy="17.5" r="3"></circle>
                                <path d="M3.695,15c1.378,0,2.5,1.122,2.5,2.5S5.073,20,3.695,20s-2.5-1.122-2.5-2.5S2.316,15,3.695,15 M3.695,14      c-1.933,0-3.5,1.567-3.5,3.5s1.567,3.5,3.5,3.5s3.5-1.567,3.5-3.5S5.628,14,3.695,14L3.695,14z"></path>
                          </g>
                        </svg>
                            </div>
                            {{if visitorTeamScore > localTeamScore}}

                            <div class="game-result-score game-result-team-win">
                                {{:visitorTeamScore}}
                                <span class="game-result-team-label game-result-team-label-top">Win</span>
                            </div>
                            {{else}}
                            <div class="game-result-score">
                                {{:visitorTeamScore}}
                            </div>
                            {{/if}}

                        </div>
                        {{if visitorTeamScore > localTeamScore}}

                        <div class="game-results-status">@SharedLocalizer.GetString("AwayTeam")</div>

                        {{else localTeamScore > visitorTeamScore}}

                        <div class="game-results-status">@SharedLocalizer.GetString("HomeTeam")</div>
                        {{else}}
                        <div class="game-results-status">@SharedLocalizer.GetString("Draw")</div>
                        {{/if}}
                        {{else}}
                        <div class="game-result-divider-wrap"><span class="game-info-team-divider">VS</span></div>
                        {{/if}}
                    </div>
                </a>
                <div class="game-result-team game-result-team-second">
                    <figure class="game-result-team-figure game-result-team-figure-big">
                        <img src="{{:visitorTeam.logoPath}}" alt="" width="41" height="59" />
                    </figure>
                </div>
            </div>
            <div class="game-result-main" style="padding-top:0px;">
                <div class="game-result-team game-result-team-first" style="max-width:100px;">
                    <div class="game-result-team-name">{{:localTeam.name}}</div>
                    <div class="game-result-team-country">{{:localTeam.shortCode}}</div>
                </div>

                <div class="game-result-team game-result-team-second" style="max-width:100px;">
                    <div class="game-result-team-name">{{:visitorTeam.name}}</div>
                    <div class="game-result-team-country">{{:visitorTeam.shortCode}}</div>
                </div>
            </div>
            <div class="game-result-footer">
                <ul class="game-result-details">
                    @*<li>New Yorkers Stadium</li>*@
                    <li>
                        <time datetime="2018-04-14">{{:timeStartingAtDateTime.substring(0,16)}}</time>
                    </li>
                </ul>
            </div>
        </article>

        <!-- Game Result Classic-->

    </script>

    <script id="standingBaseTemplate" type="text/x-jsrender">

        {{if leagueStanding.length > 0}}
        <div class="card-standing-caption">
            <div class="card-standing-position">Poz</div>
            <div class="card-standing-caption-aside">
                <div class="card-standing-team">Takım</div>
                <div class="card-standing-number">OM</div>
                <div class="card-standing-number">G</div>
                <div class="card-standing-number">B</div>
                <div class="card-standing-number">M</div>
                <div class="card-standing-number">AG</div>
                <div class="card-standing-number">YG</div>
                <div class="card-standing-points">P</div>
                <div class="card-standing-diff">AVE</div>
                <div class="card-standing-button" style="min-width: 42px;"></div>
            </div>

        </div>
        {{for leagueStanding tmpl="standingTemplate"/}}

        {{/if}}
        <!-- Bootstrap card-->
        <!-- Bootstrap card-->
    </script>

    <script id="standingTemplate" type="text/x-jsrender">
        <article class="card card-custom">
            <div class="card-standing-position card-standing-counter" style="padding: 10px 3px 20px 3px;"></div>
            <div class="card-header" id="AH_{{:standingsPositon}}" role="tab">
                <div class="card-standing-team-item">
                    <div class="card-standing-team">
                        <div class="card-standing-team-figure">
                            <img src="{{:team.logoPath}}" alt="" width="37" height="37" />
                        </div>
                        <div class="card-standing-team-title">
                            <div class="card-standing-team-name">{{:team.name}}</div>
                            <div class="card-standing-team-country">{{:standingsRecentForm}}</div>
                        </div>
                    </div>
                    <div class="card-standing-number">{{:standingsOverallGamesPlayed}}</div>
                    <div class="card-standing-number">{{:standingsOverallWon}}</div>
                    <div class="card-standing-number">{{:standingsOverallDraw}}</div>
                    <div class="card-standing-number">{{:standingsOverallLost}}</div>
                    <div class="card-standing-number">{{:standingsOverallGoalsScored}}</div>
                    <div class="card-standing-number">{{:standingsOverallGoalsAgainst}}</div>
                    <div class="card-standing-points">{{:standingsTotalPoints}}</div>
                    <div class="card-standing-diff">{{:standingsTotalGoalDifference}}</div>
                    <div class="card-standing-button"><a class="card-standing-toogle material-icons-remove collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#AC_{{:standingsPositon}}" aria-controls="AC_{{:standingsPositon}}"></a></div>
                </div>
            </div>
            <div class="collapse" id="AC_{{:standingsPositon}}" role="tabpanel" aria-labelledby="AH_{{:standingsPositon}}">
                <div class="card-body">
                    <div class="card-standing-team-details">
                        <div class="card-standing-team">Ev</div>

                        <div class="card-standing-number">{{:standingsHomeGamesPlayed}}</div>
                        <div class="card-standing-number">{{:standingsHomeWon}}</div>
                        <div class="card-standing-number">{{:standingsHomeDraw}}</div>
                        <div class="card-standing-number">{{:standingsHomeLost}}</div>
                        <div class="card-standing-number">{{:standingsHomeGoalsScored}}</div>
                        <div class="card-standing-number">{{:standingsHomeGoalsAgainst}}</div>
                        <div class="card-standing-points"></div>
                        <div class="card-standing-diff">{{:standingsHomeGoalsScored - standingsHomeGoalsAgainst}}</div>
                        <div class="card-standing-button" style="min-width:42px;">&nbsp;</div>
                    </div>
                    <div class="card-standing-divider"></div>
                    <div class="card-standing-team-details">
                        <div class="card-standing-team">Deplasman</div>

                        <div class="card-standing-number">{{:standingsAwayGamesPlayed}}</div>
                        <div class="card-standing-number">{{:standingsAwayWon}}</div>
                        <div class="card-standing-number">{{:standingsAwayDraw}}</div>
                        <div class="card-standing-number">{{:standingsAwayLost}}</div>
                        <div class="card-standing-number">{{:standingsAwayGoalsScored}}</div>
                        <div class="card-standing-number">{{:standingsAwayGoalsAgainst}}</div>
                        <div class="card-standing-points"></div>
                        <div class="card-standing-diff">{{:standingsAwayGoalsScored - standingsAwayGoalsAgainst}}</div>
                        <div class="card-standing-button" style="min-width:42px;">&nbsp;</div>
                    </div>
                </div>
            </div>
        </article>

    </script>

    <script id="goalScorerTemplate" type="text/x-jsrender">
        <tr>
            <td><span>{{:position}}</span></td>
            <td class="team-inline">
                <div class="team-figure">
                    <img src="{{:player.imagePath}}" alt="" width="37" height="37">
                </div>
                <div class="team-title">
                    <div class="team-name">{{:player.fullName}}</div>
                    <div class="team-country">{{:team.name}}</div>
                </div>
            </td>
            <td>{{:goals}}</td>
            <td>{{:penaltyGoals}}</td>
        </tr>
    </script>

    <script id="assistsScorerTemplate" type="text/x-jsrender">
        <tr>
            <td><span>{{:position}}</span></td>
            <td class="team-inline">
                <div class="team-figure">
                    <img src="{{:player.imagePath}}" alt="" width="37" height="37">
                </div>
                <div class="team-title">
                    <div class="team-name">{{:player.fullName}}</div>
                    <div class="team-country">{{:team.name}}</div>
                </div>
            </td>
            <td>{{:assists}}</td>
        </tr>
    </script>

    <script id="cardScorerTemplate" type="text/x-jsrender">
        <tr>
            <td><span>{{:position}}</span></td>
            <td class="team-inline">
                <div class="team-figure">
                    <img src="{{:player.imagePath}}" alt="" width="37" height="37">
                </div>
                <div class="team-title">
                    <div class="team-name">{{:player.fullName}}</div>
                    <div class="team-country">{{:team.name}}</div>
                </div>
            </td>
            <td>{{:yellowcards}}</td>
            <td>{{:redcards}}</td>
        </tr>
    </script>

    <script id="lastMatchesBaseTemplate" type="text/x-jsrender">
        {{for fixture tmpl="lastMatchesTemplate"/}}
    </script>
    <script id="lastMatchesTemplate" type="text/x-jsrender">

        <div class="match-table-tr">
            <div class="match-table-td" style="width: 40%;padding:15px 10px;">
                <div class="match-table-team">
                    <figure><img src="{{:localTeam.logoPath}}" alt="" width="41" height="41" /></figure>
                    <span>{{:localTeam.name}}</span>
                </div>
            </div>
          
                <div class="match-table-td" style="width: 20%;">
                    <a href="/fixtureDetail/{{:id}}" target="_blank">
                        {{if timeStatus != "NS" && timeStatus != "TBA"}}
                        <div class="match-table-score" style="text-align: center; font-size: 1.5em;">
                            <span {{if localTeamScore > visitorTeamScore}} style="color:#64b000;" {{else localTeamScore < visitorTeamScore}} style="color:#ff4f2e;" {{/if}}>{{:localTeamScore}}</span> <span>:</span> <span {{if visitorTeamScore > localTeamScore}} style="color:#64b000;" {{else visitorTeamScore < localTeamScore}} style="color:#ff4f2e;" {{/if}}>{{:visitorTeamScore}}</span>
                        </div>
                        {{/if}}
                        {{if timeStatus == "TBA"}}
                        <div class="match-table-time" style="text-align: center; font-size: 0.95em;"><span>{{:timeStartingAtDateTime.substring(0,10)}}</span></div>
                        {{else}}
                        <div class="match-table-time" style="text-align: center; font-size: 0.95em;"><span>{{:timeStartingAtDateTime.substring(0,16)}}</span></div>
                        {{/if}}
                    </a>
</div>
           
            <div class="match-table-td" style="width: 40%;padding:15px 10px;">
                <div class="match-table-team match-table-team-winner">
                    <figure><img src="{{:visitorTeam.logoPath}}" alt="" width="41" height="59" /></figure>
                    <span>{{:visitorTeam.name}}</span>
                </div>
            </div>
        </div>

    </script>

    <script src="/lib/views/league/fixture-of-round.min.js" type="text/javascript" charset="utf-8"></script>

}
