@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = "Tips";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section section-sm bg-gray-100" style="padding:0px 0px 10px 0px;">
    <div class="container">
        <div style="text-align:center; margin-bottom:10px;">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
            <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
        </div>
    </div>
</section>

<section class="section section-sm bg-gray-100">
    <div class="container">
        <div class="row row-50">
            <div class="col-xl-8">
                <!-- Heading Component-->
                <div class="row row-30" id="divTips">
                    <div class="col-md-6 col-lg-12">
                        <!-- Heading Component-->
                        <article class="heading-component">
                            <div class="heading-component-inner">
                                <h5 class="heading-component-title">
                                    @SharedLocalizer.GetString("AllTips")
                                </h5>
                            </div>
                        </article>
                        <div id="divTips">

                        </div>
                    </div>
                </div>
                <div class="text-center" id="divLoadMore" style="display: none; padding-top:25px;">
                    <button onclick="renderMore()" class="button button-secondary-outline">Daha fazla yükle</button>
                </div>
                <div class="text-center" id="divLoading" style="display: none; padding-top:25px;">
                    <img src="/images/loading.gif" alt="loading" style="width: 25px;" />
                    <p class="game-info-subtitle" style="font-size:1.2em;">
                        @SharedLocalizer.GetString("TipsPaging")
                    </p>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="block-aside-item">
                    <!-- Heading Component-->
                    <article class="heading-component">
                        <div class="heading-component-inner">
                            <h5 class="heading-component-title">
                                @SharedLocalizer.GetString("FollowUs")
                            </h5>
                        </div>
                    </article>

                    <!-- Buttons Media-->
                    <div class="group-sm group-flex">
                        <a class="button-media button-media-facebook" href="https://www.facebook.com/preodds">
                            <p class="button-media-action">@SharedLocalizer.GetString("Follow")<span class="icon material-icons-add_circle_outline icon-sm"></span></p><span class="button-media-icon fa-facebook"></span>
                        </a>
                        <a class="button-media button-media-twitter" href="https://twitter.com/preodds">
                            <p class="button-media-action">@SharedLocalizer.GetString("Follow")<span class="icon material-icons-add_circle_outline icon-sm"></span></p><span class="button-media-icon fa-twitter"></span>
                        </a>
                        <a class="button-media button-media-instagram" href="https://www.instagram.com/preodds">
                            <p class="button-media-action">@SharedLocalizer.GetString("Follow")<span class="icon material-icons-add_circle_outline icon-sm"></span></p><span class="button-media-icon fa-instagram"></span>
                        </a>
                    </div>
                </div>

                <div class="col-md-6 col-lg-12">
                    <div style="text-align:center; margin-bottom:20px;">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle example_responsive_1" style="display:block;" data-ad-client="ca-pub-6855594242204807" data-ad-slot="9451536421" data-ad-format="auto" data-full-width-responsive="true"></ins>
                        <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
    <script src="/vendor/jsrender/jsrender.min.js"></script>

    <script id="tipsTemplate" type="text/x-jsrender">
        <!-- Game Result Classic-->
        <div class="col-md-6">
            <article class="game-result game-result-classic">
                <div class="game-result-footer" style="border-bottom:1px solid #e1e1e1">
                    <ul class="game-result" style="text-align:left;padding:5px 5px 5px 5px;border:none">
                        <li>
                            <div class="row sport-row align-items-center">
                                @*<div class="col-xs-9 col-sm-9 col-md-4 col-lg-1">
                                    <figure> <img src="{{:countryLogo}}" alt=""></figure>
                                </div>*@
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="text-align:left;padding-left:20px;">
                                     <span class="blink font-weight-regular" style="font-size:1.20em;color:#373737">{{:leagueName}}</span>
                                    <figure>
                                        <img src="{{:countryLogo}}" alt="" width="16" height="16">
                                        <span class="blink font-weight-regular" style="font-size:0.80em">{{:countryName}}</span>
                                    </figure>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                @*<div class="game-result-footer" style="border-bottom:1px solid #e1e1e1">
                        <ul class="game-result-details" style="text-align:left; padding: 5px 5px 5px 5px; font-size:1.3em;">
                            <li><img src="{{:countryLogo}}" alt="" width="24" height="24"> {{:countryName}} - {{:leagueName}} </li>
                        </ul>
                    </div>*@
                <div class="game-result-main" style="padding:10px 5px;">
                    <div class="game-result-team game-result-team-first">
                        <figure class="game-result-team-figure game-result-team-figure-big">
                            <img src="{{:localTeamLogo}}" alt="" width="55" height="55">
                        </figure>
                    </div>
                    <a href="/fixtureDetail/{{:fixtureId}}" target="_blank">
                        <div class="game-result-middle" style="margin-top:5px;">
                            {{if timeStatus == "NS"}}
                            <div class="game-results-status">
                                <p class="game-info-subtitle">
                                    <time class="time-big" datetime="2018-04-17">
                                        <span class="heading-5">{{:timeStartingAtDateTime.Substring(11, 5)}}</span> {{:timeStartingAtDateTime.Substring(0, 10)}}
                                    </time>
                                </p>
                            </div>
                            {{else}}
                            <div class="game-results-status">
                                <p class="game-info-subtitle">
                                    {{:status}}
                                </p>
                            </div>
                            {{/if}}

                            {{if timeStatus != "NS"}}
                            <div class="game-result-score-wrap">
                                <div class="game-result-score game-result-team-win">
                                    {{:localTeamScore}} @*<span class="game-result-team-label game-result-team-label-top">Win</span>*@
                                </div>
                                <div class="game-result-score-divider">
                                    <svg x="0px" y="0px" width="7px" height="21px" viewBox="0 0 7 21" enable-background="new 0 0 7 21" xml:space="preserve">
                                    <g>
                                    <circle cx="3.5" cy="3.5" r="3"></circle>
                                    <path d="M3.5,1C4.879,1,6,2.122,6,3.5S4.879,6,3.5,6S1,4.878,1,3.5S2.122,1,3.5,1 M3.5,0C1.567,0,0,1.567,0,3.5S1.567,7,3.5,7      S7,5.433,7,3.5S5.433,0,3.5,0L3.5,0z"></path></g>
                                    <g><circle cx="3.695" cy="17.5" r="3"></circle><path d="M3.695,15c1.378,0,2.5,1.122,2.5,2.5S5.073,20,3.695,20s-2.5-1.122-2.5-2.5S2.316,15,3.695,15 M3.695,14      c-1.933,0-3.5,1.567-3.5,3.5s1.567,3.5,3.5,3.5s3.5-1.567,3.5-3.5S5.628,14,3.695,14L3.695,14z"></path></g></svg>
                                </div>
                                <div class="game-result-score">
                                    {{:visitorTeamScore}}
                                </div>
                            </div>
                            {{/if}}
                        </div>
                    </a>
                    <div class="game-result-team game-result-team-second">
                        <figure class="game-result-team-figure game-result-team-figure-big">
                            <img src="{{:visitorTeamLogo}}" alt="" width="55" height="55">
                        </figure>
                    </div>
                </div>
                <div class="game-result-main" style="padding:10px 5px;">
                    <div class="game-result-team game-result-team-first" style="max-width:100px;">
                        <div class="game-result-team-name">{{:localTeamName}}</div>
                        <div class="game-result-team-country">{{:countryName}}</div>
                    </div>

                    <div class="game-result-team game-result-team-second" style="max-width:100px;">
                        <div class="game-result-team-name">{{:visitorTeamName}}</div>
                        <div class="game-result-team-country">{{:countryName}}</div>
                    </div>
                </div>
                <div class="table-game-info-wrap">
                    <div class="table-game-info-main table-custom-responsive" style="border:0; padding:12px 10px 12px 10px;">
                        <table class="table-custom table-game-info" style="font-size:12px;">
                            <tbody>
                                <tr>
                                    <td class="table-game-info-category" style="min-width:130px; font-size:0.90em; color:#353535;">{{:marketName}}</td>
                                    <td class="table-game-info-number" style="min-width:100px;">{{:oddLabel}}</td>
                                    {{if isWin}}
                                    <td class="table-game-info-number" style="min-width:60px; border-left:1px solid #e1e1e1; color:#64b000">{{:oddValue}}</td>
                                    {{else isWin == 0}}
                                    <td class="table-game-info-number" style="min-width:60px; border-left:1px solid #e1e1e1; color:#ff4f2e">{{:oddValue}}</td>
                                    {{else}}
                                    <td class="table-game-info-number" style="min-width:60px; border-left:1px solid #e1e1e1">{{:oddValue}}</td>
                                    {{/if}}
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="game-result-footer">
                    <ul class="game-result-details" style="padding: 5px 5px 5px 5px">
                        <li><img src="{{:userLogo}}" alt="" width="24" height="24"> {{:userName}} </li>
                    </ul>
                </div>
            </article>
        </div>
        <!-- Game Result Classic-->
    </script>
    <script src="/lib/views/tips/tips.min.js" type="text/javascript" charset="utf-8"></script>
}